## Sprint 1 - Data Exploration and Basic EDA

This notebook is the first notebook. It outlines processes to familiarize LinkedIn Job Postings dataset from 2023. Here, we will go over the data quality issues through various data cleaning methods and highlight any other notable observations regarding data processing. Then, the basic Exploratory Data Analysis (EDA) has been performed to showcase potential relationships between different variables and `views`, our target variable. 

Author: JJ Park

Date: 28/02/2024

## LinkedIn Job Postings 2023

### Introduction

### Dataset

Dataset has been sourced from: https://www.kaggle.com/datasets/arshkon/linkedin-job-postings/data.

### Table of Contents

1. Data Dictionary
2. Data Loading
3. Data Cleaning - Datatypes
4. Data Cleaning - Duplicates
5. Data Cleaning - Null Values
6. Basic EDA
7. Summary

### Data Dictionary

The data dictionary outlines all the variables from the `job_postings.csv` dataset. The descriptions of each variable are directly sourced from the author's Github: https://github.com/ArshKA/LinkedIn-Job-Scraper/blob/master/DatabaseStructure.md.

1. `job_id`: The job ID as defined by LinkedIn (https://www.linkedin.com/jobs/view/{ job_id })
2. `company_id`: Identifier for the company associated with the job posting (maps to companies.csv)
3. `title`: Job title
4. `description`: Job description
5. `max_salary`: Maximum salary
6. `med_salary`: Median salary
7. `min_salary`: Minimum salary
8. `pay_period`: Pay period for salary (Hourly, Monthly, Yearly)
9. `formatted_work_type`: Type of work (Fulltime, Parttime, Contract)
10. `location`: Job location
11. `applies`: Number of applications that have been submitted
12. `original_listed_time`: Original time the job was listed
13. `remote_allowed`: Whether job permits remote work
14. `views`: Number of times the job posting has been viewed
15. `job_posting_url`: URL to the job posting on a platform
16. `application_url`: URL where applications can be submitted
17. `application_type`: Type of application process (offsite, complex/simple onsite)
18. `expiry`: Expiration date or time for the job listing
19. `closed_time`: Time to close job listing
20. `formatted_experience_level`: Job experience level (entry, associate, executive, etc)
21. `skills_desc`: Description detailing required skills for job
22. `listed_time`: Time when the job was listed
23. `posting_domain`: Domain of the website with application
24. `sponsored`: Whether the job listing is sponsored or promoted
25. `work_type`: Type of work associated with the job
26. `currency`: Currency in which the salary is provided
27. `compensation_type`: Type of compensation for the job
28. `scraped`: Has been scraped by `details_retriever`

### Question of Interest
How can we leverage the job postings data from LinkedIn to add significant value to both companies and job applicants? Here, we will tackle the `views` column by conducting preliminary EDA to find relationships between different variables within the dataset. 

- Company: what are the key features in a job posting that recruiters should emphasize to raise the number of views and attract more talents?
- Applicant: can we predict the latest job trends by analyzing job postings with high views?

## Data Loading

In this section, we will first load the LinkedIn dataset, then explore the dataset by checking the first and last few rows to improve our understanding.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv('../Data/job_postings.csv')

# Display all the columns, avoiding truncated column names
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000

# Check the first few rows
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,1.699090e+12,NaN,9.0,https://www.linkedin.com/jobs/view/3757940104/...,https://careers-demant.icims.com/jobs/19601/he...,OffsiteApply,1.701680e+12,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,1.699080e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757940025/...,https://www.click2apply.net/mXLQz5S5NEYEXsKjwH...,OffsiteApply,1.701680e+12,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,1.699080e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757938019/...,https://www.click2apply.net/LwbOykH2yAJdahB5Ah...,OffsiteApply,1.701680e+12,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,1.699080e+12,NaN,1.0,https://www.linkedin.com/jobs/view/3757938018/...,https://jobs.apploi.com/view/854782?utm_campai...,OffsiteApply,1.701680e+12,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,1.698970e+12,1.0,NaN,https://www.linkedin.com/jobs/view/3757937095/...,https://careers.iherb.com/global/en/job/IHINGL...,OffsiteApply,1.701680e+12,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

In [3]:
# Check the last few rows
df.tail()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
33241,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,1.692830e+12,NaN,NaN,https://www.linkedin.com/jobs/view/133114754/?...,NaN,ComplexOnsiteApply,1.695430e+12,NaN,NaN,NaN,1.692830e+12,NaN,0,FULL_TIME,NaN,NaN,1
33242,108965123,NaN,Office Administrative Assistant,"A fast-fashion wholesaler, is looking for a fu...",NaN,NaN,NaN,NaN,Full-time,"New York, NY",2.0,1.699040e+12,NaN,4.0,https://www.linkedin.com/jobs/view/108965123/?...,NaN,ComplexOnsiteApply,1.701630e+12,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699044401
33243,102339515,52132271.0,Franchise Owner,DuctVentz is a dryer and A/C – heat vent clean...,NaN,NaN,NaN,NaN,Full-time,Greater Boston,NaN,1.699050e+12,NaN,NaN,https://www.linkedin.com/jobs/view/102339515/?...,NaN,SimpleOnsiteApply,1.701640e+12,NaN,NaN,NaN,1.699050e+12,NaN,0,FULL_TIME,NaN,NaN,1699063495
33244,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",NaN,1.692750e+12,NaN,5.0,https://www.linkedin.com/jobs/view/85008768/?t...,NaN,ComplexOnsiteApply,1.708300e+12,NaN,NaN,NaN,1.692750e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
33245,3958427,630152.0,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,1.699050e+12,NaN,7.0,https://www.linkedin.com/jobs/view/3958427/?tr...,NaN,ComplexOnsiteApply,1.714600e+12,NaN,NaN,Must be a seasoned stylist with an existing bo...,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699057868

In [4]:
# Check the sample (size of 50) rows
df.sample(50)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
26487,3694113885,108340.0,Cashier,Overview\nDo you enjoy meeting and talking to ...,NaN,NaN,NaN,NaN,Part-time,"Towson, MD",NaN,1.692850e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3694113885/...,https://sprouts.jibeapply.com/jobs/252252?lang...,OffsiteApply,1.695440e+12,NaN,Entry level,NaN,1.692850e+12,sprouts.jibeapply.com,0,PART_TIME,NaN,NaN,1
28281,3693586415,503757.0,Internal Audit - Fall Internship,"Overview\nAs an Intern, you will be introduced...",NaN,NaN,NaN,NaN,Part-time,Greater Cleveland,2.0,1.692820e+12,NaN,4.0,https://www.linkedin.com/jobs/view/3693586415/...,https://careers-amtrustgroup.icims.com/jobs/15...,OffsiteApply,1.695420e+12,NaN,NaN,NaN,1.692820e+12,careers-amtrustgroup.icims.com,1,PART_TIME,NaN,NaN,1
26260,3694117676,1523.0,Journeyman Technician,"Before you apply to a job, select your languag...",NaN,NaN,NaN,NaN,Full-time,"Livonia, MI",NaN,1.692750e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3694117676/...,https://www.jobs-ups.com/job/-/-/1187/53390732112,OffsiteApply,1.695440e+12,NaN,Entry level,NaN,1.692850e+12,www.jobs-ups.com,0,FULL_TIME,NaN,NaN,1
20065,3701199712,19061922.0,VMware Administrator,Our client is a leader in Data and Computing T...,10125.00,NaN,9431.00,MONTHLY,Contract,"Plano, TX",36.0,1.692730e+12,NaN,126.0,https://www.linkedin.com/jobs/view/3701199712/...,NaN,ComplexOnsiteApply,1.695320e+12,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,1,CONTRACT,USD,BASE_SALARY,1
32210,3693046122,413796.0,Engineer,Hi\nThis is Kavin from Synectics!!!\nWe have a...,NaN,NaN,NaN,NaN,Contract,"Austin, Texas Metropolitan Area",NaN,1.692730e+12,NaN,57.0,https://www.linkedin.com/jobs/view/3693046122/...,NaN,ComplexOnsiteApply,1.695320e+12,1.690000e+12,NaN,NaN,1.692730e+12,NaN,0,CONTRACT,NaN,NaN,1
4602,3757490090,39237.0,Senior Business Systems Analyst - Guidewire Cl...,National Interstate is a member of Great Ameri...,NaN,NaN,NaN,NaN,Full-time,"Richfield, OH",NaN,1.699050e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757490090/...,https://gaig.wd1.myworkdayjobs.com/National_In...,OffsiteApply,1.701640e+12,NaN,Mid-Senior level,NaN,1.699050e+12,gaig.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699051026
19294,3701310952,74081610.0,PEM Membrane Scientist - Ionix,At Fortescue Future Industries (FFI) we are le...,NaN,NaN,NaN,NaN,Full-time,"Harrington, DE",10.0,1.692730e+12,NaN,96.0,https://www.linkedin.com/jobs/view/3701310952/...,https://secure.dc2.pageuppeople.com/apply/593/...,OffsiteApply,1.695330e+12,NaN,Mid-Senior level,NaN,1.692730e+12,secure.dc2.pageuppeople.com,0,FULL_TIME,NaN,NaN,1
22376,3699083272,2247.0,Ctrls Lead Systems Spec II,"What You Will Do\nUnder general direction, act...",NaN,NaN,NaN,NaN,Full-time,"Helena, MT",NaN,1.692830e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3699083272/...,https://jci.wd5.myworkdayjobs.com/JCI/job/USA-...,OffsiteApply,1.695420e+12,NaN,Mid-Senior level,NaN,1.692830e+12,jci.wd5.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1
24772,3697378717,23499.0,"Senior Veterinary Assistant, Mobile Veterinary...",Please make sure to attach your resume to comp...,25.29,NaN,23.85,HOURLY,Full-time,"Paramount, CA",NaN,1.692740e+12,NaN,1.0,https://www.linkedin.com/jobs/view/3697378717/...,https://careers.aspca.org/search/jobdetails/se...,OffsiteApply,1.695340e+12,NaN,Entry level,NaN,1.692740e+12,careers.aspca.org,1,FULL_TIME,USD,BASE_SALARY,1
22150,3699085616,283807.0,Front of the House Manager,Position Summary: \nThe Front of House Manager...,NaN,NaN,NaN,NaN,Full-time,"Naples, FL",NaN,1.692830e+12,NaN,2.0,https://www.linkedin.com/jobs/view/3699085616/...,https://myjobs.adp.com/fsrcareers/cx/job-detai...,OffsiteApply,1.695420e+12,NaN,Mid-Senior level,NaN,1.692830e+12,myjobs.adp.com,1,FULL_TIME,NaN,NaN,1
581,3757908167,10667.0,"Reality Labs Accounting Manager, Sourcing",The Meta Reality Labs (RL) Accounting Team is ...,159000.00,NaN,110000.00,YEARLY,Full-time,"Austin, TX",1.0,1.698970e+12,NaN,20.0,https://www.linkedin.com/jobs/view/3757908167/...,https://jsv3.recruitics.com/redirect?rx_cid=32...,OffsiteApply,1.701670e+12,NaN,NaN,NaN,1.699080e+12,jsv3.recruitics.com,0,FULL_TIME,USD,BASE_SALARY,1699138627
17536,3701370135,11365283.0,Field Sales Representative,Are you a passionate and experienced sales pro...,NaN,NaN,NaN,NaN,Full-time,"Philadelphia, PA",8.0,1.692740e+12,NaN,27.0,https://www.linkedin.com/jobs/view/3701370135/...,NaN,ComplexOnsiteApply,1.708290e+12,NaN,NaN,NaN,1.692740e+12,NaN,1,FULL_TIME,NaN,NaN,1
17390,3701372445,2113831.0,Corporate Service Desk Technician,GovCIO is currently hiring for a Corporate Ser...,75000.00,NaN,65000.00,YEARLY,Full-time,"Fairfax, VA",NaN,1.692740e+12,NaN,14.0,https://www.linkedin.com/jobs/view/3701372445/...,https://careers-govcio.icims.com/jobs/2835/cor...,OffsiteApply,1.695340e+12,NaN,Entry level,NaN,1.692740e+12,careers-govcio.icims.com,0,FULL_TIME,USD,BASE_SALARY,1
31487,3693049194,2684081.0,Software Developer (Azure / .NET),"Optomi, in partnership with a multi-billion do...",NaN,NaN,NaN,NaN,Contract,United States,254.0,1.692730e+12,1.0,634.0,https://www.linkedin.com/jobs/view/3693049194/...,NaN,ComplexOnsiteApply,1.695320e+12,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,0,CONTRACT,NaN,NaN,1
5484,3757481550,1943848.0,School Custodian,\nSchool Custodian\nUS-SC-CHARLESTON\nRequisit...,NaN,16.00,NaN,HOURLY,Full-time,"Charleston, SC",NaN,1.699040e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757481550/...,https://www.click2apply.net/wbxmnYSDeMzLOSJegT...,OffsiteApply,1.701640e+12,NaN,NaN,NaN,1.699040e+12,www.click2apply.net,0,FULL_TIME,USD,BASE_SALARY,1699046104
11997,3755585761,3021808.0,Electrical Testing Technician,Company Description\nRESA Power is the premier...,NaN,NaN,NaN,NaN,Full-time,"Denver, CO",NaN,1.699040e+12,NaN,12.0,https://www.linkedin.com/jobs/view/3755585761/...,NaN,SimpleOnsiteApply,1.701640e+12,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699082085
31635,3693048569,11056.0,SAP Security Analyst,"Type: Full Time Location: Bryn Mawr, PA or Pit...",NaN,NaN,NaN,NaN,Full-time,"Bryn Mawr, PA",29.0,1.692730e+12,NaN,122.0,https://www.linkedin.com/jobs/view/3693048569/...,NaN,ComplexOnsiteApply,1.697920e+12,NaN,Mid-Senior level,NaN,1.692820e+12,NaN,0,FULL_TIME,NaN,NaN,1
404,3757913058,1680.0,nCino Enterprise Architect,This position is primarily a technical role wi...,NaN,NaN,NaN,NaN,Full-time,"Bridgewater, NJ",2.0,1.698970e+12,NaN,10.0,https://www.linkedin.com/jobs/view/3757913058/...,https://careers.cognizant.com/us/en/job/COGNGL...,OffsiteApply,1.701670e+12,NaN,Mid-Senior level,NaN,1.699080e+12,careers.cognizant.com,0,FULL_TIME,NaN,NaN,1699133129
30061,3693064723,14562893.0,Business Analyst with Telecom Promos,Experienced Business Analyst in Telecom Promos...,NaN,NaN,NaN,NaN,Contract,"St Louis, MO",NaN,1.692740e+12,1.0,50.0,https://www.linkedin.com/jobs/view/3693064723/...,NaN,SimpleOnsiteApply,1.695330e+12,1.690000e+12,NaN,NaN,1.692740e+12,NaN,0,CONTRACT,NaN,NaN,1
32294,3693045715,35581547.0,Diagnostic Sonogrpahers,MD Imaging is a modern outpatient imaging cent...,NaN,38.00,NaN,HOURLY,Full-time,"Redding, CA",NaN,1.692730e+12,NaN,3.0,https://www.linkedin.com/jobs/view/3693045715/...,NaN,SimpleOnsiteApply,1.695330e+12,NaN,NaN,NaN,1.692730e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
31632,3693048597,15248569.0,Reunion Giving Officer,Yale University offers exciting opportunities ...,NaN,NaN,NaN,NaN,Full-time,"New Haven, CT",10.0,1.692730e+12,NaN,123.0,https://www.linkedin.com/jobs/view/3693048597/...,https://jobs.brassring.com/TGnewUI/Search/home...,OffsiteApply,1.695330e+12,NaN,Associate,NaN,1.692730e+12,NaN,0,FULL_TIME,NaN,NaN,1
10354,3756108191,18537820.0,Account Manager (East Coast) - New York Area,East Coast (NYC Metro Area)\nAbout Us:Botrista...,100000.00,NaN,80000.00,YEARLY,Full-time,"New York, United States",1.0,1.699050e+12,NaN,2.0,https://www.linkedin.com/jobs/view/3756108191/...,NaN,ComplexOnsiteApply,1.701640e+12,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699051395
21142,3699417520,1703.0,Multifamily Technical Operations Advanced Support,R367669\n\nComcast brings together the best in...,NaN,21.00,NaN,HOURLY,Full-time,"Wilmington, NC",NaN,1.692750e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3699417520/...,https://comcast.contacthr.com/127634004,OffsiteApply,1.695440e+12,NaN,NaN,NaN,1.692850e+12,comcast.contacthr.com,0,FULL_TIME,USD,BASE_SALARY,1
13847,3753098883,278057.0,"Senior Manager, Reinsurance Internal Control",With a company culture rooted in collaboration...,NaN,NaN,NaN,NaN,Full-time,"Farmington, CT",NaN,1.698960e+12,NaN,3.0,https://www.linkedin.com/jobs/view/3753098883/...,https://archgroup.wd1.myworkdayjobs.com/Career...,OffsiteApply,1.701560e+12,NaN,Mid-Senior level,NaN,1.698970e+12,archgroup.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1698994731
17714,3701366976,2113831.0,Senior Leadership Support Assistant,GovCIO is currently hiring a Senior Leadership...,85000.00,NaN,54000.00,YEARLY,Full-time,"Fairfax, VA",1.0,1.692740e+12,NaN,5.0,https://www.linkedin.com/jobs/view/3701366976/...,https://careers-govcio.icims.com/jobs/2864/sen...,OffsiteApply,1.695340e+12,NaN,Mid-Senior level,NaN,1.692740e+12,careers-govcio.icims.com,0,FULL_TIME,USD,BASE_SALARY,1
32247,3693045947,235340.0,Quality Assurance Engineer,"Who We AreStuzo, with its Open Commerce® produ...",NaN,NaN,NaN,NaN,Full-time,"Philadelphia, PA",127.0,1.692730e+12,NaN,235.0,https://www.linkedin.com/jobs/view/3693045947/...,NaN,ComplexOnsiteApply,1.695330e+12,NaN,Associate,NaN,1.692730e+12,NaN,1,FULL_TIME,NaN,NaN,1
30747,3693053016,4787.0,Customer Success Manager,Job Summary and MissionAs a Customer Success M...,40.00,NaN,38.00,HOURLY,Full-time,"Seattle, WA",86.0,1.692730e+12,NaN,226.0,https://www.linkedin.com/jobs/view/3693053016/...,NaN,ComplexOnsiteApply,1.695330e+12,NaN,Associate,NaN,1.692730e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
4267,3757492833,72081740.0,Category Management (Procurement),We’re Hiring! Our key client is hiring and loo...,NaN,47.00,NaN,HOURLY,Contract,"Melbourne, FL",5.0,1.699050e+12,NaN,36.0,https://www.linkedin.com/jobs/view/3757492833/...,NaN,ComplexOnsiteApply,1.701640e+12,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699090372
18996,3701315393,319995.0,Underwriter,"HAI Group®[1], a property-casualty insurance c...",NaN,NaN,NaN,NaN,Full-time,"Cheshire, CT",7.0,1.692730e+12,NaN,77.0,https://www.linkedin.com/jobs/view/3701315393/...,NaN,ComplexOnsiteApply,1.695340e+12,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,0,FULL_TIME,NaN,NaN,1
19821,3701302406,44407.0,NYC Hotel Operations Internship (Fall),Opportunity: NYC Hotel Operations Intern (Fall...,20.00,NaN,20.00,HOURLY,Internship,"New York, NY",12.0,1.692730e+12,NaN,78.0,https://www.linkedin.com/jobs/view/3701302406/...,NaN,ComplexOnsiteApply,1.695320e+12,NaN,NaN,NaN,1.692730e+12,NaN,0,INTERNSHIP,USD,BASE_SALARY,1
27928,3693588397,15090581.0,Mechanical Detailer,The Mechanical detailer/designer position work...,27.00,NaN,25.00,HOURLY,Full-time,"Garland, TX",3.0,1.692830e+12,NaN,9.0,https://www.linkedin.com/jobs/view/3693588397/...,NaN,ComplexOnsiteApply,1.695420e+12,NaN,Mid-Senior level,NaN,1.692830e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
2394,3757733170,4713.0,Pest Control Technician,"R00216709\n\nWe are looking for motivated, cus...",56000.00,NaN,46000.00,YEARLY,Full-time,"Des Plaines, IL",NaN,1.698970e+12,NaN,2.0,https://www.linkedin.com/jobs/view/3757733170/...,https://ecolab.contacthr.com/130010800,OffsiteApply,1.701640e+12,NaN,Associate,NaN,1.699050e+12,ecolab.contacthr.com,0,FULL_TIME,USD,BASE_SALARY,1699085792
1852,3757739087,38416.0,Human Resources Generalist,If you’re looking for a special place to build...,NaN,NaN,NaN,NaN,Full-time,"Huntsville, AL",5.0,1.699050e+12,NaN,12.0,https://www.linkedin.com/jobs/view/3757739087/...,https://idexcorp.wd5.myworkdayjobs.com/IDEX_Ca...,OffsiteApply,1.701650e+12,NaN,NaN,NaN,1.699050e+12,idexcorp.wd5.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699073153
2152,3757735785,1283753.0,Maintenance Technician II,Maintenance professionals are the backbone of ...,NaN,NaN,NaN,NaN,Full-time,"Boca Raton, FL",NaN,1.698970e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757735785/...,https://recruiting.ultipro.com/HAW1007HRP/JobB...,OffsiteApply,1.701650e+12,NaN,Entry level,NaN,1.699050e+12,recruiting.ultipro.com,1,FULL_TIME,NaN,NaN,1699086648
26010,3694126199,21667.0,Guard I,Odle Management – A subsidiary of Eckerd Conne...,NaN,16.20,NaN,HOURLY,Full-time,"Denison, IA",NaN,1.692750e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3694126199/...,https://workforcenow.adp.com/mascsr/default/md...,OffsiteApply,1.695440e+12,NaN,Entry level,NaN,1.692850e+12,workforcenow.adp.com,0,FULL_TIME,USD,BASE_SALARY,1
32291,3693045721,95734231.0,AWS DevOps Engineer,AWS DevOps EngineerAre you seeking to grow and...,NaN,NaN,NaN,NaN,Full-time,"Atlanta, GA",76.0,1.692730e+12,NaN,170.0,https://www.linkedin.com/jobs/view/3693045721/...,NaN,ComplexOnsiteApply,1.708290e+12,NaN,NaN,NaN,1.692730e+12,NaN,1,FULL_TIME,NaN,NaN,1
19243,3701311847,106083.0,Cybersecurity Expert,A Fortune 50 client of ours in the retail indu...,NaN,NaN,NaN,NaN,Full-time,"Virginia, United States",16.0,1.692730e+12,NaN,65.0,https://www.linkedin.com/jobs/view/3701311847/...,NaN,ComplexOnsiteApply,1.695330e+12,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,0,FULL_TIME,NaN,NaN,1
7172,3757452078,1553321.0,Quality Inspector,Position Overview:Perform in-process and final...,NaN,NaN,NaN,NaN,Full-time,"Bensalem, PA",2.0,1.699040e+12,NaN,22.0,https://www.linkedin.com/jobs/view/3757452078/...,NaN,ComplexOnsiteApply,1.714590e+12,NaN,NaN,NaN,1.699040e+12,NaN,1,FULL_TIME,NaN,NaN,1699072030
157,3757921575,77156037.0,Production Manager,Production ManagerJob Summary:The Hang Loose H...,65000.00,NaN,60000.00,YEARLY,Full-time,"Fountain Valley, CA",NaN,1.699080e+12,NaN,9.0,https://www.linkedin.com/jobs/view/3757921575/...,NaN,ComplexOnsiteApply,1.714630e+12,NaN,NaN,NaN,1.699080e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1699081789
25141,3697360293,33457526.0,Executive Assistant,Are you looking for a place where you can brin...,NaN,NaN,NaN,NaN,Full-time,"Waco, TX",11.0,1.692730e+12,NaN,68.0,https://www.linkedin.com/jobs/view/3697360293/...,https://neighborlybrands.wd1.myworkdayjobs.com...,OffsiteApply,1.695330e+12,NaN,Mid-Senior level,NaN,1.692740e+12,neighborlybrands.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1
24039,3697388217,2430668.0,Trailer Mechanic,\n \n\nSolutions driven success.\n\n \n\nXPO i...,NaN,30.82,NaN,HOURLY,Full-time,"Nashville, TN",NaN,1.692660e+12,NaN,1.0,https://www.linkedin.com/jobs/view/3697388217/...,https://jobs.xpo.com/job/Nashville-Trailer-Mec...,OffsiteApply,1.695340e+12,NaN,NaN,NaN,1.692740e+12,jobs.xpo.com,1,FULL_TIME,USD,BASE_SALARY,1
27694,3693594529,79604112.0,Engineer,We’re on the hunt for professionals in the Eng...,NaN,NaN,NaN,NaN,Contract,"New York, United States",1.0,1.692830e+12,1.0,11.0,https://www.linkedin.com/jobs/view/3693594529/...,https://cadcow.com/sign-up.html,OffsiteApply,1.708390e+12,NaN,NaN,NaN,1.692830e+12,NaN,0,CONTRACT,NaN,NaN,1
10331,3756108455,11556071.0,Preconstruction Manager,If you're a driven and results-oriented indivi...,NaN,NaN,NaN,NaN,Full-time,"Minneapolis, MN",1.0,1.699050e+12,NaN,8.0,https://www.linkedin.com/jobs/view/3756108455/...,NaN,ComplexOnsiteApply,1.701640e+12,NaN,NaN,NaN,1.699050e+12,NaN,0,FULL_TIME,NaN,NaN,1699081197
696,3757798815,2646.0,"(USA) Staff Pharmacist- $50,000 Sign On Bonus ...",Position Summary...\n\nWhat you'll do...\n\nPr...,NaN,NaN,NaN,NaN,Full-time,"Laurel, MT",NaN,1.699070e+12,NaN,3.0,https://www.linkedin.com/jobs/view/3757798815/...,https://click.appcast.io/track/heuo5yr-org?cs=...,OffsiteApply,1.701670e+12,NaN,Associate,NaN,1.699080e+12,click.appcast.io,0,FULL_TIME,NaN,NaN,1699136073
2808,3757727635,12820.0,HR Representative,Job Description\n\nWhy Join Altec?\n\nIf you'r...,NaN,NaN,NaN,NaN,Full-time,"Elizabethtown, KY",NaN,1.699050e+12,NaN,1.0,https://www.linkedin.com/jobs/view/3757727635/...,https://jobs.altec.com/jobs/13561287-hr-repres...,OffsiteApply,1.701640e+12,NaN,Entry level,NaN,1.699050e+12,jobs.altec.com,0,FULL_TIME,NaN,NaN,1699053991
1096,3757755128,18613.0,MERCHANDISE ASSISTANT MANAGER,Store Dollar Tree\n\nWork where you love to sh...,NaN,NaN,NaN,NaN,Full-time,"Victoria, TX",NaN,1.698970e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3757755128/...,https://careers.dollartree.com/us/en/job/DTYDT...,OffsiteApply,1.701660e+12,NaN,Mid-Senior level,NaN,1.699060e+12,careers.dollartree.com,0,FULL_TIME,NaN,NaN,1699082306
32481,3693044768,48528.0,Senior Project Controller - The River District,Crescent Communities is a nationally recognize...,NaN,NaN,NaN,NaN,Full-time,"Charlotte, NC",NaN,1.692730e+12,NaN,25.0,https://www.linkedin.com/jobs/view/3693044768/...,https://recruiting.ultipro.com/CRE1011/JobBoar...,OffsiteApply,1.695330e+12,NaN,Associate,NaN,1.692730e+12,recruiting.ultipro.com,0,FULL_TIME,NaN,NaN,1
12276,3755582970,77301.0,General Manager,"Starting from $65,000 annually plus monthly tr...",NaN,65000.00,NaN,YEARLY,Full-time,"Chester, VA",1.0,1.699040e+12,NaN,2.0,https://www.linkedin.com/jobs/view/3755582970/...,https://raisingcanes.jibeapply.com/jobs/93317?...,OffsiteApply,1.701640e+12,NaN,Executive,NaN,1.699050e+12,raisingcanes.jibeapply.com,0,FULL_TIME,USD,BASE_SALARY,1699134036
8659,3756373787,5619.0,Sr. SCADA Engineer,Overview\n\nTHE ROLE: \n\nThe Senior SCADA Eng...,NaN,NaN,NaN,NaN,Full-time,"Winston-Salem, NC",1.0,1.698940e+12,NaN,25.0,https://www.linkedin.com/jobs/view/3756373787/...,https://herbalifecareers.ttcportals.com/jobs/1...,OffsiteApply,1.701540e+12,NaN,Mid-Senior level,NaN,1.698940e+12,herbalifecareers.ttcportals.com,1,FULL_TIME,NaN,NaN,1698996228
15664,3749351015,16269365.0,Spanish Teacher,St. Augustine High School is currently seeking...,45000.00,NaN,40000.00,YEARLY,Full-time,"New Orleans, LA",NaN,1.699040e+12,NaN,NaN,https://www.linkedin.com/jobs/view/3749351015/...,NaN,ComplexOnsiteApply,1.701630e+12,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699038855

From the initial observation, we can report the following:
- Several NaN (missing) values
- Irrelevant columns (i.e. "job_posting_url", "application_url", and "scraped")
- Presence of dummy variables (binary columns)
- Data entries from time-related variables must be reformatted into datetime format
- Columns, "Formatted_Work_Type" and "Work_Type" display identical information
- Two categorical variables, "Currency" and "Compensation_Type" require further investigation as they seem to have only one type of data entry. 

Now let's check the data types:

In [5]:
# Sanity Check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  float64
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  job_posting_url             33246 non-null  object
 15  application_url             20996 non-null  object
 16  application_type            33246 non-null  object
 17  expiry                      33246 non-null  float64
 18  closed_time                 1172 non-null   float64
 19  formatted_experience_level  24065 non-null  object
 20  skills_desc                 337 non-null    object
 21  listed_time                 33246 non-null  float64
 22  posting_domain              19688 non-null  object
 23  sponsored                   33246 non-null  int64
 24  work_type                   33246 non-null  object
 25  currency                    13352 non-null  object
 26  compensation_type           13352 non-null  object
 27  scraped                     33246 non-null  int64
dtypes: float64(11), int64(3), object(14)
memory usage: 7.1+ MB

Next, we will go over each of the time variables in the dataset ("original_listed_time", "expiry", "closed_time", and "listed_time"), and convert the data entries into a standard datetime format (Year-Month-Date, Hour-Minute_Second).

### Dealing with Time Variables

In [6]:
df['original_listed_time'].value_counts()

original_listed_time
1.699050e+12    5005
1.699040e+12    4958
1.692740e+12    3798
1.692730e+12    3407
1.698970e+12    2398
1.692750e+12    1578
1.692830e+12    1536
1.692660e+12    1365
1.699060e+12     993
1.699070e+12     908
1.692840e+12     854
1.692850e+12     726
1.692820e+12     685
1.698960e+12     654
1.698880e+12     325
1.696890e+12     314
1.699080e+12     308
1.690580e+12     219
1.692860e+12     206
1.699030e+12     203
1.692680e+12     196
1.696880e+12     166
1.692580e+12     155
1.690690e+12     109
1.690670e+12     100
1.696910e+12      96
1.692870e+12      96
1.698790e+12      85
1.698780e+12      76
1.692640e+12      73
1.692720e+12      69
1.696800e+12      62
1.698770e+12      61
1.691690e+12      57
1.696870e+12      52
1.690570e+12      51
1.691700e+12      46
1.699020e+12      41
1.696900e+12      37
1.698760e+12      36
1.690660e+12      35
1.698800e+12      31
1.692140e+12      31
1.690520e+12      30
1.698950e+12      30
1.692230e+12      29
1.691710e+12      25
1.697560e+12      21
1.698940e+12      21
1.692060e+12      20
1.691680e+12      20
1.692280e+12      18
1.690930e+12      17
1.699090e+12      16
1.690590e+12      16
1.699010e+12      15
1.696920e+12      15
1.692320e+12      13
1.698620e+12      13
1.696980e+12      12
1.690680e+12      12
1.691190e+12      12
1.690850e+12      12
1.691790e+12      11
1.698750e+12      11
1.696810e+12      11
1.691630e+12      11
1.690480e+12      11
1.697670e+12      10
1.698710e+12      10
1.692630e+12       9
1.697590e+12       9
1.691610e+12       9
1.698190e+12       8
1.691970e+12       8
1.697070e+12       8
1.692650e+12       8
1.697130e+12       8
1.698110e+12       8
1.691720e+12       8
1.697580e+12       8
1.697660e+12       8
1.698700e+12       7
1.698100e+12       7
1.697060e+12       7
1.691180e+12       7
1.691020e+12       7
1.697840e+12       7
1.691600e+12       7
1.691440e+12       7
1.691670e+12       6
1.692670e+12       6
1.697750e+12       6
1.698870e+12       6
1.698020e+12       6
1.690840e+12       6
1.697490e+12       6
1.696930e+12       6
1.690700e+12       6
1.697500e+12       6
1.697230e+12       6
1.698680e+12       6
1.692380e+12       5
1.691530e+12       5
1.692120e+12       5
1.692400e+12       5
1.697600e+12       5
1.698360e+12       5
1.697240e+12       5
1.690970e+12       5
1.691010e+12       4
1.698240e+12       4
1.698920e+12       4
1.697760e+12       4
1.698830e+12       4
1.690980e+12       4
1.690860e+12       4
1.696990e+12       4
1.698300e+12       4
1.697520e+12       4
1.696860e+12       4
1.696960e+12       4
1.697300e+12       4
1.696970e+12       4
1.691370e+12       4
1.698320e+12       3
1.698730e+12       3
1.698930e+12       3
1.698980e+12       3
1.698280e+12       3
1.697850e+12       3
1.698160e+12       3
1.698270e+12       3
1.692250e+12       3
1.692710e+12       3
1.698420e+12       3
1.698080e+12       3
1.697040e+12       3
1.698850e+12       3
1.691980e+12       3
1.691100e+12       3
1.691780e+12       3
1.690950e+12       3
1.698180e+12       3
1.698370e+12       3
1.690760e+12       3
1.691540e+12       3
1.697140e+12       3
1.698440e+12       3
1.692040e+12       3
1.691470e+12       3
1.697860e+12       3
1.698450e+12       3
1.697710e+12       3
1.698720e+12       3
1.698120e+12       3
1.697160e+12       3
1.691800e+12       2
1.692110e+12       2
1.692810e+12       2
1.691080e+12       2
1.692760e+12       2
1.697640e+12       2
1.698690e+12       2
1.691110e+12       2
1.698660e+12       2
1.697690e+12       2
1.691620e+12       2
1.692550e+12       2
1.697210e+12       2
1.697250e+12       2
1.698250e+12       2
1.698090e+12       2
1.692700e+12       2
1.692220e+12       2
1.698330e+12       2
1.698630e+12       2
1.698290e+12       2
1.690560e+12       2
1.692070e+12       2
1.690960e+12       2
1.697000e+12       2
1.697650e+12       2
1.697880e+12       2
1.697110e+12       2
1.690990e+12       2
1.692420e+12       2
1.692330e+12       2
1.695680e+12       2
1.697510e+12       2
1.698430e+12       2
1.698890e+12       2
1.698460e+12       2
1.698340e+12       2
1.690710e+12       2
1.696030e+12       2
1.695940e+12       2
1.697730e+12       2
1.686210e+12       1
1.691560e+12       1
1.690470e+12       1
1.692390e+12       1
1.690920e+12       1
1.692800e+12       1
1.692310e+12       1
1.691280e+12       1
1.698400e+12       1
1.691500e+12       1
1.694540e+12       1
1.696690e+12       1
1.696450e+12       1
1.694140e+12       1
1.696300e+12       1
1.695950e+12       1
1.695690e+12       1
1.691030e+12       1
1.692610e+12       1
1.696310e+12       1
1.696290e+12       1
1.697780e+12       1
1.695590e+12       1
1.695410e+12       1
1.696610e+12       1
1.697430e+12       1
1.692050e+12       1
1.692100e+12       1
1.691060e+12       1
1.697830e+12       1
1.697170e+12       1
1.697150e+12       1
1.698610e+12       1
1.698860e+12       1
1.693400e+12       1
1.697680e+12       1
1.698230e+12       1
1.696780e+12       1
1.697400e+12       1
1.697470e+12       1
1.697820e+12       1
1.698540e+12       1
1.697550e+12       1
1.697570e+12       1
1.692300e+12       1
1.692130e+12       1
1.698820e+12       1
1.697260e+12       1
1.697020e+12       1
1.698490e+12       1
1.698210e+12       1
1.698060e+12       1
1.697990e+12       1
1.696950e+12       1
1.698470e+12       1
1.696790e+12       1
1.699000e+12       1
1.697330e+12       1
1.698640e+12       1
1.691590e+12       1
1.692690e+12       1
1.697320e+12       1
1.691160e+12       1
1.692010e+12       1
1.691120e+12       1
1.692490e+12       1
1.691250e+12       1
1.691550e+12       1
1.697280e+12       1
1.698840e+12       1
1.691430e+12       1
1.690870e+12       1
1.691040e+12       1
1.691210e+12       1
1.698810e+12       1
1.697410e+12       1
1.692030e+12       1
1.691230e+12       1
1.690650e+12       1
1.691170e+12       1
1.690900e+12       1
1.690810e+12       1
1.691770e+12       1
1.690830e+12       1
1.693270e+12       1
1.691490e+12       1
1.688210e+12       1
1.689290e+12       1
1.686490e+12       1
1.691450e+12       1
1.691810e+12       1
1.691650e+12       1
1.688980e+12       1
1.696430e+12       1
1.693760e+12       1
1.695310e+12       1
1.695070e+12       1
1.694650e+12       1
Name: count, dtype: int64

In [7]:
df['expiry'].value_counts()

expiry
1.701640e+12    6978
1.695330e+12    4043
1.701630e+12    3671
1.695420e+12    2716
1.695340e+12    2527
1.701650e+12    1746
1.695320e+12    1717
1.695440e+12    1360
1.701660e+12    1175
1.701560e+12    1161
1.701670e+12    1042
1.695430e+12     819
1.695450e+12     458
1.714590e+12     358
1.708290e+12     319
1.714600e+12     250
1.708280e+12     215
1.708390e+12     174
1.695280e+12     169
1.695460e+12     156
1.714610e+12     122
1.708380e+12     114
1.695270e+12     111
1.708300e+12     108
1.701680e+12      87
1.695350e+12      86
1.695400e+12      85
1.695360e+12      83
1.695410e+12      67
1.695240e+12      60
1.701540e+12      54
1.701620e+12      52
1.708400e+12      49
1.701690e+12      48
1.714330e+12      48
1.701550e+12      47
1.714340e+12      44
1.714520e+12      42
1.695390e+12      40
1.697920e+12      38
1.708410e+12      37
1.701580e+12      35
1.714630e+12      33
1.700250e+12      33
1.707250e+12      32
1.701380e+12      30
1.714320e+12      29
1.707240e+12      27
1.714620e+12      26
1.714310e+12      23
1.704230e+12      20
1.701370e+12      20
1.708190e+12      20
1.701710e+12      18
1.707230e+12      17
1.701610e+12      17
1.714570e+12      17
1.708270e+12      16
1.708210e+12      15
1.695380e+12      15
1.701360e+12      14
1.695370e+12      13
1.700260e+12      12
1.708200e+12      11
1.708420e+12      11
1.695510e+12      11
1.701600e+12       9
1.694290e+12       9
1.701390e+12       9
1.701350e+12       9
1.700180e+12       8
1.708350e+12       8
1.708180e+12       8
1.700510e+12       8
1.701730e+12       8
1.708360e+12       7
1.708220e+12       7
1.714350e+12       7
1.708320e+12       6
1.697930e+12       6
1.707260e+12       6
1.708370e+12       6
1.694300e+12       6
1.697910e+12       6
1.714300e+12       5
1.701720e+12       5
1.714640e+12       5
1.698020e+12       5
1.708240e+12       4
1.694280e+12       4
1.707220e+12       3
1.695310e+12       3
1.698030e+12       3
1.698050e+12       3
1.701700e+12       3
1.698010e+12       3
1.706830e+12       3
1.703100e+12       3
1.703960e+12       3
1.704220e+12       3
1.704240e+12       2
1.697940e+12       2
1.694390e+12       2
1.714560e+12       2
1.701530e+12       2
1.706740e+12       2
1.704150e+12       2
1.706810e+12       2
1.714580e+12       2
1.700500e+12       2
1.705690e+12       2
1.707840e+12       2
1.695250e+12       2
1.704270e+12       1
1.707600e+12       1
1.707580e+12       1
1.707570e+12       1
1.707330e+12       1
1.707770e+12       1
1.694270e+12       1
1.707760e+12       1
1.707560e+12       1
1.695300e+12       1
1.695260e+12       1
1.701570e+12       1
1.714530e+12       1
1.714510e+12       1
1.714680e+12       1
1.699050e+12       1
1.706820e+12       1
1.699080e+12       1
1.700860e+12       1
1.714490e+12       1
1.701340e+12       1
1.701320e+12       1
1.714500e+12       1
1.714410e+12       1
1.698040e+12       1
1.700600e+12       1
1.705710e+12       1
1.707670e+12       1
1.714420e+12       1
1.700170e+12       1
1.705700e+12       1
1.703110e+12       1
1.714400e+12       1
1.703120e+12       1
1.700520e+12       1
1.708310e+12       1
1.708340e+12       1
1.708230e+12       1
Name: count, dtype: int64

In [8]:
df['closed_time'].value_counts()

closed_time
1.690000e+12    928
1.700000e+12    244
Name: count, dtype: int64

In [9]:
df['listed_time'].value_counts()

listed_time
1.699050e+12    6910
1.699040e+12    5465
1.692740e+12    4550
1.692730e+12    3189
1.692830e+12    2561
1.692850e+12    1389
1.699070e+12    1328
1.692750e+12    1216
1.699060e+12    1138
1.692840e+12     947
1.698960e+12     795
1.692820e+12     686
1.699080e+12     643
1.698970e+12     464
1.692860e+12     300
1.692680e+12     286
1.692760e+12     123
1.692870e+12     121
1.692810e+12      99
1.692640e+12      86
1.699030e+12      81
1.699090e+12      74
1.698780e+12      73
1.698790e+12      69
1.692800e+12      68
1.698770e+12      48
1.698950e+12      47
1.692770e+12      40
1.691700e+12      39
1.691690e+12      38
1.698760e+12      37
1.699100e+12      37
1.699020e+12      35
1.698990e+12      29
1.692720e+12      28
1.692790e+12      25
1.692660e+12      20
1.691680e+12      19
1.699010e+12      16
1.699120e+12      16
1.692780e+12      15
1.698940e+12      14
1.692630e+12       8
1.699130e+12       7
1.698750e+12       7
1.698800e+12       7
1.699110e+12       7
1.692670e+12       5
1.691710e+12       5
1.692650e+12       5
1.698980e+12       4
1.691670e+12       4
1.699140e+12       3
1.692210e+12       2
1.692290e+12       2
1.691760e+12       2
1.698850e+12       2
1.692710e+12       2
1.691770e+12       1
1.692030e+12       1
1.698870e+12       1
1.698730e+12       1
1.692040e+12       1
1.698860e+12       1
1.692020e+12       1
1.699000e+12       1
1.692120e+12       1
1.692000e+12       1
Name: count, dtype: int64

After checking the unique values from each of the time variables, we can spot a pattern where the time values are listed in a scientific timestamp format (i.e. 1.692000e+12). Hence, we will convert this to a datetime format where the data entries are recorded in a standard format.

#### Original_Listed_Time

In [10]:
# Convert scientific notation to standard notation (float)
df['original_listed_time']=df['original_listed_time'].astype('float64')

In [11]:
# Convert milliseconds to seconds 
df['original_listed_time']=df['original_listed_time']/1000

In [12]:
# Convert timestamp into datetime 
from datetime import datetime
df['original_listed_time'] = df['original_listed_time'].apply(lambda x: datetime.fromtimestamp(x))
df['original_listed_time']

0       2023-11-04 05:26:40
1       2023-11-04 02:40:00
2       2023-11-04 02:40:00
3       2023-11-04 02:40:00
4       2023-11-02 20:06:40
                ...
33241   2023-08-23 18:33:20
33242   2023-11-03 15:33:20
33243   2023-11-03 18:20:00
33244   2023-08-22 20:20:00
33245   2023-11-03 18:20:00
Name: original_listed_time, Length: 33246, dtype: datetime64[ns]

In [13]:
# Sanity Check
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,2023-11-04 05:26:40,NaN,9.0,https://www.linkedin.com/jobs/view/3757940104/...,https://careers-demant.icims.com/jobs/19601/he...,OffsiteApply,1.701680e+12,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,2023-11-04 02:40:00,NaN,NaN,https://www.linkedin.com/jobs/view/3757940025/...,https://www.click2apply.net/mXLQz5S5NEYEXsKjwH...,OffsiteApply,1.701680e+12,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,2023-11-04 02:40:00,NaN,NaN,https://www.linkedin.com/jobs/view/3757938019/...,https://www.click2apply.net/LwbOykH2yAJdahB5Ah...,OffsiteApply,1.701680e+12,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,2023-11-04 02:40:00,NaN,1.0,https://www.linkedin.com/jobs/view/3757938018/...,https://jobs.apploi.com/view/854782?utm_campai...,OffsiteApply,1.701680e+12,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,2023-11-02 20:06:40,1.0,NaN,https://www.linkedin.com/jobs/view/3757937095/...,https://careers.iherb.com/global/en/job/IHINGL...,OffsiteApply,1.701680e+12,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

From above, we can observe that the data entries from `original_listed_time` have been transformed into datetime format. We will repeat this process for the remaining three columns.

#### Expiry

In [14]:
# Convert scientific notation to standard notation (float)
df['expiry']=df['expiry'].astype('float64')

In [15]:
# Convert milliseconds to seconds 
df['expiry']=df['expiry']/1000

In [16]:
# Convert timestamp into datetime 
from datetime import datetime
df['expiry'] = df['expiry'].apply(lambda x: datetime.fromtimestamp(x))
df['expiry']

0       2023-12-04 03:53:20
1       2023-12-04 03:53:20
2       2023-12-04 03:53:20
3       2023-12-04 03:53:20
4       2023-12-04 03:53:20
                ...
33241   2023-09-22 20:46:40
33242   2023-12-03 14:00:00
33243   2023-12-03 16:46:40
33244   2024-02-18 18:46:40
33245   2024-05-01 17:46:40
Name: expiry, Length: 33246, dtype: datetime64[ns]

In [17]:
# Sanity Check
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,2023-11-04 05:26:40,NaN,9.0,https://www.linkedin.com/jobs/view/3757940104/...,https://careers-demant.icims.com/jobs/19601/he...,OffsiteApply,2023-12-04 03:53:20,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,2023-11-04 02:40:00,NaN,NaN,https://www.linkedin.com/jobs/view/3757940025/...,https://www.click2apply.net/mXLQz5S5NEYEXsKjwH...,OffsiteApply,2023-12-04 03:53:20,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,2023-11-04 02:40:00,NaN,NaN,https://www.linkedin.com/jobs/view/3757938019/...,https://www.click2apply.net/LwbOykH2yAJdahB5Ah...,OffsiteApply,2023-12-04 03:53:20,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,2023-11-04 02:40:00,NaN,1.0,https://www.linkedin.com/jobs/view/3757938018/...,https://jobs.apploi.com/view/854782?utm_campai...,OffsiteApply,2023-12-04 03:53:20,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,2023-11-02 20:06:40,1.0,NaN,https://www.linkedin.com/jobs/view/3757937095/...,https://careers.iherb.com/global/en/job/IHINGL...,OffsiteApply,2023-12-04 03:53:20,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

#### Closed_Time

In [18]:
# Convert scientific notation to standard notation (float)
df['closed_time']=df['closed_time'].astype('float64')

In [19]:
# Convert milliseconds to seconds 
df['closed_time']=df['closed_time']/1000

In [20]:
# Convert timestamp into datetime 
from datetime import datetime
df['closed_time'] = df['closed_time'].apply(lambda x: datetime.fromtimestamp(x))
df['closed_time']

ValueError: Invalid value NaN (not a number)

Since there are NaN (missing) values from `closed_time` column, we first have to filter these null values to apply datetime function.

In [21]:
# Filter out NaN values
not_null_ct = df['closed_time'].notnull()
df.loc[not_null_ct, 'closed_time'] = df.loc[not_null_ct, 'closed_time'].apply(lambda x: datetime.fromtimestamp(x))

# Print the updated DataFrame
print(df['closed_time'])

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
33241    NaN
33242    NaN
33243    NaN
33244    NaN
33245    NaN
Name: closed_time, Length: 33246, dtype: object

/var/folders/5d/y_cf75vx4c9dxq1445qbw6pc0000gn/T/ipykernel_8767/2531425563.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<DatetimeArray>
['2023-11-14 17:13:20', '2023-11-14 17:13:20', '2023-11-14 17:13:20',
 '2023-11-14 17:13:20', '2023-11-14 17:13:20', '2023-11-14 17:13:20',
 '2023-11-14 17:13:20', '2023-11-14 17:13:20', '2023-11-14 17:13:20',
 '2023-11-14 17:13:20',
 ...
 '2023-07-22 00:26:40', '2023-07-22 00:26:40', '2023-07-22 00:26:40',
 '2023-07-22 00:26:40', '2023-07-22 00:26:40', '2023-07-22 00:26:40',
 '2023-07-22 00:26:40', '2023-07-22 00:26:40', '2023-07-22 00:26:40',
 '2023-07-22 00:26:40']
Length: 1172, dtype: datetime64[ns]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[not_null_ct, 'closed_time'] = df.loc[not_null_ct, 'closed_time'].apply(lambda x: datetime.fromtimestamp(x))

In [22]:
df.sample(50)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
25585,3697343182,3589.0,Distribution Center Supervisor,Job Summary:\nResponsible for supervising and ...,NaN,NaN,NaN,NaN,Full-time,"Windsor, WI",4.0,2023-08-22 14:46:40,NaN,16.0,https://www.linkedin.com/jobs/view/3697343182/...,NaN,ComplexOnsiteApply,2023-09-21 14:13:20,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,0,FULL_TIME,NaN,NaN,1
13863,3753096607,70553.0,Financial Systems Analyst,"At ServisFirst, Our Name is Our Mission.\n\nDu...",NaN,NaN,NaN,NaN,Full-time,"Birmingham, AL",1.0,2023-11-01 19:06:40,NaN,24.0,https://www.linkedin.com/jobs/view/3753096607/...,https://workforcenow.adp.com/mascsr/default/md...,OffsiteApply,2023-12-02 18:33:20,NaN,Mid-Senior level,NaN,1.698960e+12,workforcenow.adp.com,1,FULL_TIME,NaN,NaN,1698994731
18957,3701315786,12709.0,Field Account Manager,About Us:Customers count on Kinetic Business b...,NaN,NaN,NaN,NaN,Full-time,"Georgia, United States",45.0,2023-08-22 17:33:20,1.0,176.0,https://www.linkedin.com/jobs/view/3701315786/...,NaN,ComplexOnsiteApply,2023-09-21 17:00:00,NaN,Associate,NaN,1.692740e+12,NaN,0,FULL_TIME,NaN,NaN,1
24742,3697378986,72483.0,Catering & Convention Services Manager OEM,Job Summary\nThe Convention Services/Catering ...,NaN,NaN,NaN,NaN,Full-time,"Boston, MA",NaN,2023-08-22 17:33:20,NaN,4.0,https://www.linkedin.com/jobs/view/3697378986/...,https://careers-aimbridge.icims.com/jobs/26961...,OffsiteApply,2023-09-21 19:46:40,NaN,Mid-Senior level,NaN,1.692740e+12,careers-aimbridge.icims.com,0,FULL_TIME,NaN,NaN,1
32996,3690840799,10223966.0,Trading Associate,"Wealthstream Advisors, Inc., a fast-growing bo...",85000.00,NaN,65000.00,YEARLY,Full-time,"New York, NY",309.0,2023-08-10 16:40:00,NaN,960.0,https://www.linkedin.com/jobs/view/3690840799/...,NaN,ComplexOnsiteApply,2024-02-06 15:06:40,NaN,NaN,NaN,1.691700e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
11793,3755587839,2152.0,IT Desktop Support Technician,Are you interested in gaining an opportunity w...,NaN,NaN,NaN,NaN,Full-time,"Bristol, IN",1.0,2023-11-02 20:06:40,NaN,1.0,https://www.linkedin.com/jobs/view/3755587839/...,https://jsv3.recruitics.com/redirect?rx_cid=34...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,1.699050e+12,jsv3.recruitics.com,1,FULL_TIME,NaN,NaN,1699050583
5420,3757482820,6919.0,Dispute Analyst,"Title: Dispute AnalystLocation: San Antonio, T...",25.00,NaN,20.00,HOURLY,Full-time,"San Antonio, Texas Metropolitan Area",2.0,2023-11-03 15:33:20,NaN,30.0,https://www.linkedin.com/jobs/view/3757482820/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699088951
15625,3749351208,42876933.0,Python Data Engineer (AWS),"Python (Data Engineer) (PySpark, DB, AWS)Locat...",NaN,NaN,NaN,NaN,Full-time,"Wilmington, DE",30.0,2023-11-03 15:33:20,NaN,88.0,https://www.linkedin.com/jobs/view/3749351208/...,NaN,ComplexOnsiteApply,2023-12-03 14:00:00,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699050952
7538,3757445838,777243.0,Audit Manager,Key Responsibilities:Client Engagement: Cultiv...,NaN,NaN,NaN,NaN,Full-time,"Chicago, IL",NaN,2023-11-03 15:33:20,NaN,6.0,https://www.linkedin.com/jobs/view/3757445838/...,NaN,ComplexOnsiteApply,2023-12-03 14:00:00,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699129881
17106,3748839491,1185.0,Neuroscience Health & Science Professional (HS...,"All over the world, Pfizer colleagues work tog...",167200.00,NaN,70600.00,YEARLY,Full-time,"Fort Smith, AR",NaN,2023-11-02 17:20:00,1.0,NaN,https://www.linkedin.com/jobs/view/3748839491/...,https://pfizer.wd1.myworkdayjobs.com/PfizerCar...,OffsiteApply,2023-12-02 18:33:20,NaN,NaN,NaN,1.698960e+12,pfizer.wd1.myworkdayjobs.com,0,FULL_TIME,USD,BASE_SALARY,1698964261
29152,3693071321,1586.0,"Maintenance Technician II - Carrollton, TX",Description\nAbout Maintenance at Amazon:\nOpe...,NaN,NaN,NaN,NaN,Full-time,"Carrollton, TX",1.0,2023-07-28 17:33:20,NaN,11.0,https://www.linkedin.com/jobs/view/3693071321/...,https://www.amazon.jobs/jobs/2381908/maintenan...,OffsiteApply,2023-09-22 18:00:00,NaN,Mid-Senior level,NaN,1.692830e+12,www.amazon.jobs,1,FULL_TIME,NaN,NaN,1
431,3757912463,5394.0,Production Technician II (Axle Assembly),The basic function of the production technicia...,NaN,NaN,NaN,NaN,Full-time,"Maxton, NC",NaN,2023-11-02 20:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3757912463/...,https://meritor.jobs.net/job/J3W4DM5XNYLZHVRVHS0,OffsiteApply,2023-12-04 01:06:40,NaN,Entry level,NaN,1.699070e+12,meritor.jobs.net,0,FULL_TIME,NaN,NaN,1699086944
5301,3757484330,7260.0,Field Administrative Assistant,This is a 1.5 year contract starting in Decemb...,22.00,NaN,20.00,HOURLY,Contract,"Kissimmee, FL",3.0,2023-11-03 15:33:20,NaN,28.0,https://www.linkedin.com/jobs/view/3757484330/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Associate,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699057125
2102,3757736359,1491336.0,Nurse Practitioner - NP - Clinical Research,Make a Difference on Your Own Schedule and Ter...,NaN,85.0,NaN,HOURLY,Part-time,"Seattle, WA",NaN,2023-10-09 18:20:00,NaN,6.0,https://www.linkedin.com/jobs/view/3757736359/...,https://procasemanagement.wd1.myworkdayjobs.co...,OffsiteApply,2023-12-03 19:33:20,NaN,Mid-Senior level,NaN,1.699050e+12,procasemanagement.wd1.myworkdayjobs.com,0,PART_TIME,USD,BASE_SALARY,1699136900
22853,3699063242,5352294.0,Senior Desktop Support,Hi \n\nHope You are doing well |We have an urg...,NaN,NaN,NaN,NaN,Contract,"Midland, MI",1.0,2023-08-23 18:33:20,NaN,10.0,https://www.linkedin.com/jobs/view/3699063242/...,NaN,ComplexOnsiteApply,2023-09-22 18:00:00,NaN,Associate,NaN,1.692830e+12,NaN,1,CONTRACT,NaN,NaN,1
9045,3756147198,18860134.0,CNC Machinist,Want to learn more about this role and Jobot? ...,30.00,NaN,20.00,HOURLY,Full-time,"Metuchen, NJ",1.0,2023-11-03 23:53:20,NaN,2.0,https://www.linkedin.com/jobs/view/3756147198/...,https://jobot.com/apply/cnc-machinist/44813327...,ComplexOnsiteApply,2023-12-03 22:20:00,NaN,Entry level,NaN,1.699070e+12,jobot.com,0,FULL_TIME,USD,BASE_SALARY,1699138026
14245,3749900931,450323.0,Development Manager,Scion Nonprofit Staffing has been engaged to c...,90000.00,NaN,75000.00,YEARLY,Temporary,"New York, NY",NaN,2023-11-02 20:06:40,NaN,9.0,https://www.linkedin.com/jobs/view/3749900931/...,https://scionstaffing.com/job/10918?jobTitle=d...,OffsiteApply,2023-12-03 22:20:00,NaN,Mid-Senior level,NaN,1.699070e+12,scionstaffing.com,0,TEMPORARY,USD,BASE_SALARY,1699133812
22784,3699075698,30086.0,"Director, Systems Engineering - Major Accounts",Company Description\nOur Mission\nAt Palo Alto...,NaN,NaN,NaN,NaN,Full-time,"Charlotte, NC",NaN,2023-08-23 18:33:20,NaN,6.0,https://www.linkedin.com/jobs/view/3699075698/...,https://jobs.smartrecruiters.com/PaloAltoNetwo...,OffsiteApply,2023-09-22 18:00:00,NaN,Mid-Senior level,NaN,1.692830e+12,jobs.smartrecruiters.com,0,FULL_TIME,NaN,NaN,1
20043,3701199855,18629838.0,Mental Health Therapist,"Mental Health Therapist, Counselor or Psycholo...",NaN,NaN,NaN,NaN,Contract,"Virginia, United States",1.0,2023-08-22 14:46:40,1.0,27.0,https://www.linkedin.com/jobs/view/3701199855/...,https://www.brightside.com/careers/clinicians/...,OffsiteApply,2023-09-21 14:13:20,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,0,CONTRACT,NaN,NaN,1
18886,3701316690,25552.0,Production Support / Assistant Team Lead 3rd S...,"At Johnsonville, we use our business to build ...",26.01,NaN,24.48,HOURLY,Full-time,"Sheboygan Falls, WI",NaN,2023-08-21 19:20:00,NaN,3.0,https://www.linkedin.com/jobs/view/3701316690/...,https://careers.johnsonville.com/us/en/job/JOH...,OffsiteApply,2023-09-21 17:00:00,NaN,Entry level,NaN,1.692740e+12,careers.johnsonville.com,0,FULL_TIME,USD,BASE_SALARY,1
1495,3757745011,7506.0,"Operator, Liquid Loader",POSITION TITLE: Liquid Loader\n\nREPORTING TO:...,NaN,NaN,NaN,NaN,Full-time,"Pennsauken, NJ",NaN,2023-11-03 18:20:00,NaN,NaN,https://www.linkedin.com/jobs/view/3757745011/...,https://jobs.barry-callebaut.com/job/Pennsauke...,OffsiteApply,2023-12-03 19:33:20,NaN,Entry level,NaN,1.699050e+12,jobs.barry-callebaut.com,0,FULL_TIME,NaN,NaN,1699055857
5561,3757480146,19022.0,Compensation Analyst,Company Overview\n\nDocuSign helps organizatio...,NaN,NaN,NaN,NaN,Full-time,United States,163.0,2023-11-03 15:33:20,1.0,797.0,https://www.linkedin.com/jobs/view/3757480146/...,https://careers.docusign.com/jobs/23303?lang=e...,OffsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,1.699040e+12,careers.docusign.com,0,FULL_TIME,NaN,NaN,1699072030
11441,3755591531,164880.0,$77/hr | School Psychologist needed in Newport...,"District located in Newport News, VA\n\nPositi...",NaN,77.0,NaN,HOURLY,Full-time,"Norfolk, VA",NaN,2023-11-02 20:06:40,NaN,2.0,https://www.linkedin.com/jobs/view/3755591531/...,https://careers.maximstaffing.com/us/en/job/MI...,OffsiteApply,2023-12-03 16:46:40,NaN,NaN,NaN,1.699050e+12,careers.maximstaffing.com,0,FULL_TIME,USD,BASE_SALARY,1699061498
28949,3693073425,1779663.0,Healthcare Recruiter,*Please note: we know there's a lot to read. I...,65000.00,NaN,60000.00,YEARLY,Full-time,Los Angeles Metropolitan Area,55.0,2023-08-22 20:20:00,1.0,112.0,https://www.linkedin.com/jobs/view/3693073425/...,NaN,ComplexOnsiteApply,2023-09-21 19:46:40,NaN,Mid-Senior level,NaN,1.692750e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
10915,3755596607,5508.0,Research Services Coordinator- Tech,"Morrison Foerster LLP, an Am Law 50 law firm w...",81000.00,NaN,55000.00,YEARLY,Full-time,"New York, United States",2.0,2023-11-03 18:20:00,NaN,13.0,https://www.linkedin.com/jobs/view/3755596607/...,https://phg.tbe.taleo.net/phg03/ats/careers/v2...,OffsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699072929
11942,3755586442,79383535.0,Laboratory Assistant,Role: Laboratory AssistantLocation: Mansfield ...,39.00,NaN,37.00,HOURLY,Contract,"Mansfield, MA",1.0,2023-11-03 15:33:20,NaN,3.0,https://www.linkedin.com/jobs/view/3755586442/...,NaN,SimpleOnsiteApply,2023-12-03 16:46:40,NaN,NaN,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699044327
6006,3757469054,68360.0,Assistant Designer,Assistant Designer\nSuccess Profile: The Assis...,26.44,NaN,24.04,HOURLY,Full-time,New York City Metropolitan Area,7.0,2023-11-03 15:33:20,NaN,16.0,https://www.linkedin.com/jobs/view/3757469054/...,NaN,ComplexOnsiteApply,2023-12-03 14:00:00,NaN,Entry level,NaN,1.699040e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1699044623
13566,3754912765,986672.0,Production Manager - w CO2 Extraction Process,Job Overview: The production manager will over...,100000.00,NaN,85000.00,YEARLY,Full-time,"Bunnell, FL",28.0,2023-10-31 12:33:20,NaN,217.0,https://www.linkedin.com/jobs/view/3754912765/...,NaN,ComplexOnsiteApply,2024-04-28 12:00:00,NaN,NaN,NaN,1.698770e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1699091122
29510,3693068959,164992.0,Microsoft 365 Engineer__Contract - Mountain vi...,Job Title: Microsoft 365 EngineerLocation: Mou...,NaN,NaN,NaN,NaN,Full-time,"Mountain View, CA",NaN,2023-08-22 20:20:00,NaN,7.0,https://www.linkedin.com/jobs/view/3693068959/...,NaN,ComplexOnsiteApply,2023-09-21 19:46:40,2023-07-22 00:26:40,NaN,NaN,1.692750e+12,NaN,0,FULL_TIME,NaN,NaN,1
15101,3749358046,7795.0,Stocker / Cashier,"Create a healthier, brighter future for pets, ...",NaN,NaN,NaN,NaN,Part-time,"Eagan, MN",NaN,2023-11-02 20:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3749358046/...,https://careers.petco.com/us/en/job/PEQPETUSR2...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,1.699050e+12,careers.petco.com,1,PART_TIME,NaN,NaN,1699080680
30166,3693062906,325032.0,Driller/Blaster Temporary,"Closing Date: September 5, 2023\n\nTeck Alaska...",NaN,NaN,NaN,NaN,Full-time,"Anchorage, AK",2.0,2023-08-21 19:20:00,NaN,8.0,https://www.linkedin.com/jobs/view/3693062906/...,https://jobs.teck.com/job/Red-Dog-DrillerBlast...,OffsiteApply,2023-09-21 17:00:00,NaN,Entry level,NaN,1.692740e+12,jobs.teck.com,0,FULL_TIME,NaN,NaN,1
8619,3756719546,630847.0,Research And Development Scientist,Excellent opportunity with a great company! Co...,NaN,NaN,NaN,NaN,Full-time,"Dakota, IL",7.0,2023-11-02 17:20:00,NaN,55.0,https://www.linkedin.com/jobs/view/3756719546/...,NaN,ComplexOnsiteApply,2023-12-02 15:46:40,NaN,Mid-Senior level,NaN,1.698960e+12,NaN,1,FULL_TIME,NaN,NaN,1698996375
26355,3694116108,68235865.0,Lead Data Architect,Job Description: Data ArchitectLocation:(Candi...,NaN,NaN,NaN,NaN,Full-time,United States,NaN,2023-08-24 00:06:40,1.0,1.0,https://www.linkedin.com/jobs/view/3694116108/...,NaN,SimpleOnsiteApply,2023-09-22 23:33:20,NaN,NaN,NaN,1.692850e+12,NaN,0,FULL_TIME,NaN,NaN,1
2128,3757736043,76640333.0,Accountant Manager- 115k,Are you a dynamic and results-driven professio...,115000.00,NaN,95000.00,YEARLY,Full-time,"Fresno, CA",NaN,2023-11-03 18:20:00,NaN,5.0,https://www.linkedin.com/jobs/view/3757736043/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699059201
8574,3756776603,165847.0,Office Manager and University Cashier,Position Title:\n\nOffice Manager and Universi...,22.79,NaN,20.72,HOURLY,Full-time,"Santa Clara, CA",2.0,2023-11-02 17:20:00,NaN,25.0,https://www.linkedin.com/jobs/view/3756776603/...,https://wd1.myworkdaysite.com/recruiting/scu/r...,OffsiteApply,2023-12-02 18:33:20,NaN,Mid-Senior level,NaN,1.698960e+12,wd1.myworkdaysite.com,0,FULL_TIME,USD,BASE_SALARY,1699044549
1850,3757739089,89877420.0,Automotive Product Investigator/Dealership Tec...,"Working across the globe, V2X builds smart sol...",NaN,NaN,NaN,NaN,Part-time,"Santa Fe, NM",NaN,2023-11-02 20:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3757739089/...,https://recruiting2.ultipro.com/VER1018VALLC/J...,OffsiteApply,2023-12-03 19:33:20,NaN,Entry level,NaN,1.699060e+12,recruiting2.ultipro.com,0,PART_TIME,NaN,NaN,1699055783
23748,3697392597,3690.0,Intern - Sales Enablement,Our vision is to transform how the world uses ...,NaN,NaN,NaN,NaN,Full-time,"Austin, TX",NaN,2023-08-22 17:33:20,NaN,21.0,https://www.linkedin.com/jobs/view/3697392597/...,https://micron.eightfold.ai/careers/job/176292...,OffsiteApply,2023-09-21 19:46:40,NaN,NaN,NaN,1.692750e+12,micron.eightfold.ai,0,FULL_TIME,NaN,NaN,1
25587,3697343127,96121422.0,Data Engineer (Oracle and DataStage).,"Hi,\nHope you are doing great today. Please fi...",NaN,NaN,NaN,NaN,Contract,United States,NaN,2023-08-22 14:46:40,1.0,101.0,https://www.linkedin.com/jobs/view/3697343127/...,NaN,ComplexOnsiteApply,2023-09-21 14:13:20,2023-07-22 00:26:40,NaN,NaN,1.692730e+12,NaN,0,CONTRACT,NaN,NaN,1
12978,3755572972,78376109.0,Corporate HIM Manager,Networks Connect Professional Staffing is cond...,115000.00,NaN,105000.00,YEARLY,Full-time,Greater Tampa Bay Area,NaN,2023-11-03 15:33:20,NaN,3.0,https://www.linkedin.com/jobs/view/3755572972/...,NaN,ComplexOnsiteApply,2023-12-03 19:33:20,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699042234
10475,3756106761,8390.0,"Pre-Licensed Clinical Extender (PCE), part tim...",We are more than a health system. We are a bel...,NaN,NaN,NaN,NaN,Part-time,"Athens, OH",NaN,2023-11-03 18:20:00,NaN,NaN,https://www.linkedin.com/jobs/view/3756106761/...,https://ohiohealth.wd5.myworkdayjobs.com/OhioH...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,1.699050e+12,ohiohealth.wd5.myworkdayjobs.com,0,PART_TIME,NaN,NaN,1699085792
30487,3693055121,94213938.0,Grants Writer,Looking for a passionate volunteer to help a s...,NaN,NaN,NaN,NaN,Volunteer,"Oregon, United States",12.0,2023-08-22 17:33:20,1.0,113.0,https://www.linkedin.com/jobs/view/3693055121/...,NaN,ComplexOnsiteApply,2023-09-21 17:00:00,NaN,NaN,NaN,1.692740e+12,NaN,0,VOLUNTEER,NaN,NaN,1
8209,3756924195,53448390.0,Associate Asset Protection- Greater Bucks Coun...,Address: USA-PA-Harrisburg-2300 Linglestown Ro...,NaN,NaN,NaN,NaN,Full-time,"Harrisburg, PA",NaN,2023-11-02 20:06:40,NaN,4.0,https://www.linkedin.com/jobs/view/3756924195/...,https://thegiantcompany.careerswithus.com/jobs...,OffsiteApply,2023-12-02 18:33:20,NaN,Entry level,NaN,1.698970e+12,thegiantcompany.careerswithus.com,0,FULL_TIME,NaN,NaN,1699053693
29710,3693067699,7932726.0,Dealer Relationship Representative,The Area Sales Representative is responsible f...,NaN,NaN,NaN,NaN,Full-time,"Phoenix, AZ",4.0,2023-08-22 17:33:20,NaN,40.0,https://www.linkedin.com/jobs/view/3693067699/...,NaN,SimpleOnsiteApply,2023-09-21 19:46:40,NaN,NaN,NaN,1.692740e+12,NaN,0,FULL_TIME,NaN,NaN,1
32214,3693046116,3618762.0,Marketing Analyst,"We're TeeTurtle, a rapidly growing consumer pr...",75000.00,NaN,55000.00,YEARLY,Full-time,United States,115.0,2023-08-22 14:46:40,1.0,514.0,https://www.linkedin.com/jobs/view/3693046116/...,https://teeturtle.recruitee.com/o/marketing-an...,OffsiteApply,2024-02-18 13:13:20,NaN,NaN,NaN,1.692730e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
21345,3699411646,15472.0,Assistant Director,Join a strong community where all we do is car...,NaN,NaN,NaN,NaN,Full-time,"Murfreesboro, TN",NaN,2023-08-24 00:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3699411646/...,https://careers.learningcaregroup.com/search/j...,OffsiteApply,2023-09-22 23:33:20,NaN,Mid-Senior level,NaN,1.692850e+12,careers.learningcaregroup.com,0,FULL_TIME,NaN,NaN,1
18410,3701321792,1579491.0,"Medical Director, Medical Oncology",Unique leadership opportunity within an organi...,NaN,NaN,NaN,NaN,Full-time,"Astoria, OR",NaN,2023-08-22 17:33:20,NaN,46.0,https://www.linkedin.com/jobs/view/3701321792/...,https://jobs.crelate.com/portal/buffkinbaker/j...,OffsiteApply,2023-09-21 17:00:00,NaN,Director,NaN,1.692740e+12,NaN,0,FULL_TIME,NaN,NaN,1
2090,3757736478,6044.0,System Engineer,"System Engineer12 month contractDallas, TX (Hy...",60.00,NaN,50.00,HOURLY,Full-time,"Dallas, TX",13.0,2023-11-03 18:20:00,NaN,62.0,https://www.linkedin.com/jobs/view/3757736478/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699081937
13630,3754511082,86001745.0,Principal Statistical Programmer,As a Principal Statistical Programmer you will...,NaN,NaN,NaN,NaN,Full-time,United States,1.0,2023-11-02 17:20:00,1.0,14.0,https://www.linkedin.com/jobs/view/3754511082/...,https://careers.iconplc.com/job/principal-stat...,OffsiteApply,2023-12-02 18:33:20,NaN,Mid-Senior level,NaN,1.698970e+12,careers.iconplc.com,0,FULL_TIME,NaN,NaN,1698996154
5574,3757479703,164621.0,Koch Engineering Internship Program - 2024,"Your Job\n\nAt Koch Industries, our mission is...",NaN,NaN,NaN,NaN,Full-time,"Dodge City, KS",NaN,2023-10-09 15:33:20,NaN,NaN,https://www.linkedin.com/jobs/view/3757479703/...,https://koch.avature.net/en_US/careers/JobDeta...,OffsiteApply,2023-12-03 16:46:40,NaN,Internship,NaN,1.699040e+12,koch.avature.net,0,FULL_TIME,NaN,NaN,1699052579
6664,3757460778,33283520.0,Media Sales/Sponsorship Manager,GrepBeat is a media organization covering tech...,NaN,NaN,NaN,NaN,Full-time,"Durham, NC",1.0,2023-11-03 15:33:20,NaN,34.0,https://www.linkedin.com/jobs/view/3757460778/...,NaN,ComplexOnsiteApply,2023-12-03 14:00:00,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699064167

Through filtering the NaN values and applying the datetime function, the data entries are now in the proper datetime format.

#### Listed_Time

In [23]:
# Convert scientific notation to standard notation (float)
df['listed_time']=df['listed_time'].astype('float64')

In [24]:
# Convert milliseconds to seconds 
df['listed_time']=df['listed_time']/1000

In [25]:
# Convert timestamp into datetime 
from datetime import datetime
df['listed_time'] = df['listed_time'].apply(lambda x: datetime.fromtimestamp(x))
df['listed_time']

0       2023-11-04 05:26:40
1       2023-11-04 02:40:00
2       2023-11-04 02:40:00
3       2023-11-04 02:40:00
4       2023-11-04 05:26:40
                ...
33241   2023-08-23 18:33:20
33242   2023-11-03 15:33:20
33243   2023-11-03 18:20:00
33244   2023-08-22 20:20:00
33245   2023-11-03 18:20:00
Name: listed_time, Length: 33246, dtype: datetime64[ns]

In [32]:
df.sample(50)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,original_listed_time,remote_allowed,views,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
13677,3754508640,33266522.0,Continuous Improvement Specialist,What The Role Is\n\nThe Continuous Improvement...,NaN,NaN,NaN,NaN,Full-time,"Princeton, NJ",NaN,2023-11-01 19:06:40,NaN,4.0,https://www.linkedin.com/jobs/view/3754508640/...,https://boards.greenhouse.io/clearwayjobs/jobs...,OffsiteApply,2023-12-02 18:33:20,NaN,Entry level,NaN,2023-11-02 20:06:40,boards.greenhouse.io,1,FULL_TIME,NaN,NaN,1698996004
11188,3755594063,8047188.0,Desktop Support Engineer || W2 Only,"andatory skills: Windows/Mac, Office 365, Clou...",NaN,NaN,NaN,NaN,Contract,"Denver, CO",NaN,2023-11-03 18:20:00,NaN,5.0,https://www.linkedin.com/jobs/view/3755594063/...,NaN,SimpleOnsiteApply,2023-12-03 16:46:40,NaN,NaN,NaN,2023-11-03 18:20:00,NaN,0,CONTRACT,NaN,NaN,1699050657
5703,3757475912,932766.0,"Registered Nurse - Cardiology, Brittonfield Of...",Employment Type\n\nFull time\n\nShift\n\nDay S...,41.4,NaN,28.8,HOURLY,Full-time,"Syracuse, NY",NaN,2023-11-02 20:06:40,NaN,1.0,https://www.linkedin.com/jobs/view/3757475912/...,https://jobs.trinity-health.org/stjosephshealt...,OffsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,2023-11-03 15:33:20,jobs.trinity-health.org,0,FULL_TIME,USD,BASE_SALARY,1699054437
5207,3757484998,15226602.0,SOLR Administrator,*THIS ROLE IS NOT OPEN TO C2C OR H1B. SUCCESSF...,NaN,NaN,NaN,NaN,Contract,United States,5.0,2023-11-03 18:20:00,1.0,23.0,https://www.linkedin.com/jobs/view/3757484998/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,2023-11-03 18:20:00,NaN,0,CONTRACT,NaN,NaN,1699058089
27379,3694100413,15760876.0,Outdoor Guest Service - Temecula KOA at Vail L...,\nThe Temecula/Vail Lake KOA is an outdoor cam...,NaN,15.5,NaN,HOURLY,Full-time,"Temecula, CA",NaN,2023-08-23 18:33:20,NaN,NaN,https://www.linkedin.com/jobs/view/3694100413/...,https://www.click2apply.net/4DNrDWSYyYzX1coJVi...,OffsiteApply,2023-09-22 18:00:00,NaN,NaN,\nGood customer service and communications ski...,2023-08-23 18:33:20,www.click2apply.net,0,FULL_TIME,USD,BASE_SALARY,1
4818,3757488528,3706049.0,Registered Nursing- RN - Skilled Nursing Facility,Registered Nursing- RN - Skilled Nursing Facil...,NaN,NaN,NaN,NaN,Full-time,"Bedford, PA",NaN,2023-11-03 18:20:00,NaN,1.0,https://www.linkedin.com/jobs/view/3757488528/...,https://www.click2apply.net/oXxgaBcdM47M8C6RGH...,OffsiteApply,2023-12-03 16:46:40,NaN,NaN,NaN,2023-11-03 18:20:00,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699051395
16456,3749345700,995919.0,Implementation and Onboarding Specialist,The Role\nAs an Implementation and Onboarding ...,NaN,60000.0,NaN,YEARLY,Full-time,United States,135.0,2023-11-03 15:33:20,1.0,293.0,https://www.linkedin.com/jobs/view/3749345700/...,NaN,ComplexOnsiteApply,2024-05-01 15:00:00,NaN,NaN,NaN,2023-11-03 15:33:20,NaN,1,FULL_TIME,USD,BASE_SALARY,1699042895
1769,3757740261,162224.0,Manufacturing Engineer,"At AAM, the POWER is in our people. We believe...",NaN,NaN,NaN,NaN,Full-time,"Minerva, OH",NaN,2023-11-02 20:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3757740261/...,https://careers.aam.com/us/en/job/AAMAUSJREQ20...,OffsiteApply,2023-12-03 19:33:20,NaN,Entry level,NaN,2023-11-03 18:20:00,careers.aam.com,0,FULL_TIME,NaN,NaN,1699056459
24053,3697388069,4101.0,IT Squad Leader (Experienced Level Professional),Michelin is hiring!\n- - - - - - - - - - - -\n...,NaN,NaN,NaN,NaN,Full-time,"Greenville, SC",2.0,2023-08-22 17:33:20,NaN,21.0,https://www.linkedin.com/jobs/view/3697388069/...,https://michelinhr.wd3.myworkdayjobs.com/Miche...,OffsiteApply,2023-09-22 06:53:20,NaN,NaN,NaN,2023-08-23 07:26:40,michelinhr.wd3.myworkdayjobs.com,1,FULL_TIME,NaN,NaN,1
9706,3756114455,1337.0,"Senior Manager, Data Science - Strategy & Insi...","Senior Manager, Data Science - Strategy & Insi...",NaN,NaN,NaN,NaN,Full-time,"Sunnyvale, CA",NaN,2023-11-03 18:20:00,NaN,9.0,https://www.linkedin.com/jobs/view/3756114455/...,NaN,ComplexOnsiteApply,2023-12-03 19:33:20,2023-11-14 17:13:20,NaN,NaN,2023-11-03 18:20:00,NaN,0,FULL_TIME,NaN,NaN,1699057125
3594,3757499957,35586884.0,Telephonic Patient Support Nurse - RN & BSN,Fast Growing Company is Seeking Telephonic Pat...,NaN,NaN,NaN,NaN,Full-time,"North Carolina, United States",4.0,2023-11-03 18:20:00,1.0,66.0,https://www.linkedin.com/jobs/view/3757499957/...,https://app.hoopshr.com/jobs/998152-remote-tel...,OffsiteApply,2023-12-03 16:46:40,NaN,Associate,NaN,2023-11-03 18:20:00,NaN,0,FULL_TIME,NaN,NaN,1699065500
26587,3694112084,9813.0,Staff Data Engineer,"Direct Supply, Inc. is seeking a qualified can...",NaN,NaN,NaN,NaN,Full-time,"Milwaukee, WI",NaN,2023-08-23 21:20:00,NaN,NaN,https://www.linkedin.com/jobs/view/3694112084/...,https://directsupply.wd5.myworkdayjobs.com/dir...,OffsiteApply,2023-09-22 23:33:20,NaN,Mid-Senior level,NaN,2023-08-24 00:06:40,directsupply.wd5.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1
18308,3701323000,2300.0,"Retail Sales Associate, Santa Rosa Plaza - Ful...",Please note – currently this role may not requ...,NaN,NaN,NaN,NaN,Full-time,"Santa Rosa, CA",NaN,2023-08-21 19:20:00,NaN,1.0,https://www.linkedin.com/jobs/view/3701323000/...,https://jsv3.recruitics.com/redirect?rx_cid=13...,OffsiteApply,2023-09-22 04:06:40,NaN,NaN,NaN,2023-08-23 04:40:00,jsv3.recruitics.com,0,FULL_TIME,NaN,NaN,1
21343,3699411660,1463.0,Human Resource Outsourcing Relationship Manager,ADP is hiring a Relationship Manager within Ne...,113700.0,NaN,55900.0,YEARLY,Full-time,"Sacramento, CA",1.0,2023-08-09 12:53:20,NaN,4.0,https://www.linkedin.com/jobs/view/3699411660/...,https://click.appcast.io/track/h9fs1sw-org?cs=...,OffsiteApply,2023-09-22 23:33:20,NaN,Associate,NaN,2023-08-24 00:06:40,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1
18136,3701325848,63800.0,Quality Engineer,We believe that great healthcare is an essenti...,NaN,NaN,NaN,NaN,Full-time,"Murray, UT",NaN,2023-08-22 17:33:20,NaN,6.0,https://www.linkedin.com/jobs/view/3701325848/...,NaN,ComplexOnsiteApply,2023-09-21 17:00:00,2023-07-22 00:26:40,Associate,NaN,2023-08-22 17:33:20,NaN,1,FULL_TIME,NaN,NaN,1
15101,3749358046,7795.0,Stocker / Cashier,"Create a healthier, brighter future for pets, ...",NaN,NaN,NaN,NaN,Part-time,"Eagan, MN",NaN,2023-11-02 20:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3749358046/...,https://careers.petco.com/us/en/job/PEQPETUSR2...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,2023-11-03 18:20:00,careers.petco.com,1,PART_TIME,NaN,NaN,1699080680
19321,3701310537,87089640.0,Retail and Category Mgmt Technoly Owner,Job Description\n NA Retail Excellence and Cat...,NaN,NaN,NaN,NaN,Full-time,"Skillman, NJ",NaN,2023-08-22 14:46:40,NaN,47.0,https://www.linkedin.com/jobs/view/3701310537/...,https://kenvue.taleo.net/careersection/2/jobde...,OffsiteApply,2023-09-21 17:00:00,NaN,Entry level,NaN,2023-08-22 14:46:40,kenvue.taleo.net,0,FULL_TIME,NaN,NaN,1
25825,3694157753,10696913.0,SIU Investigator,Overview\nAllied Universal® Compliance and Inv...,36.0,NaN,27.0,HOURLY,Full-time,"Bronx, NY",NaN,2023-08-24 05:40:00,NaN,NaN,https://www.linkedin.com/jobs/view/3694157753/...,https://corporatecareers-aus.icims.com/jobs/10...,OffsiteApply,2023-09-23 05:06:40,NaN,Mid-Senior level,NaN,2023-08-24 05:40:00,corporatecareers-aus.icims.com,0,FULL_TIME,USD,BASE_SALARY,1
4841,3757488405,67507.0,Area Superintendent,CornerStone Technology Talent Services is seek...,NaN,NaN,NaN,NaN,Full-time,"Phoenix, AZ",1.0,2023-11-03 18:20:00,NaN,8.0,https://www.linkedin.com/jobs/view/3757488405/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,2023-11-03 18:20:00,NaN,0,FULL_TIME,NaN,NaN,1699080606
10939,3755596273,73817167.0,Administrative Assistant,We are currently looking to expand our team wi...,NaN,NaN,NaN,NaN,Full-time,"Charlotte, NC",5.0,2023-11-03 18:20:00,NaN,21.0,https://www.linkedin.com/jobs/view/3755596273/...,NaN,SimpleOnsiteApply,2024-05-01 17:46:40,NaN,NaN,NaN,2023-11-03 18:20:00,NaN,1,FULL_TIME,NaN,NaN,1699060313
3842,3757496367,11637.0,"Director, External Communications","Job Summary\n\nWEX seeks a Director, External ...",NaN,NaN,NaN,NaN,Full-time,"Portland, ME",1.0,2023-11-03 18:20:00,NaN,13.0,https://www.linkedin.com/jobs/view/3757496367/...,https://wexinc.wd5.myworkdayjobs.com/WEXInc/jo...,OffsiteApply,2023-12-03 16:46:40,NaN,Director,NaN,2023-11-03 18:20:00,wexinc.wd5.myworkdayjobs.com,1,FULL_TIME,NaN,NaN,1699053618
23464,3697398440,84418.0,ENCAPSILATION MACHINE OPERATOR,Job Description\n\nWe are looking for an Encap...,22.0,NaN,18.0,HOURLY,Full-time,"Vancouver, WA",NaN,2023-08-18 19:06:40,NaN,2.0,https://www.linkedin.com/jobs/view/3697398440/...,https://jobs.optistaffing.com/ENCAPSILATION-MA...,OffsiteApply,2023-09-21 19:46:40,NaN,Entry level,NaN,2023-08-22 20:20:00,jobs.optistaffing.com,0,FULL_TIME,USD,BASE_SALARY,1
17373,3701372694,15112.0,Preconstruction Project Manager II,ENGIE is committed to reshaping the energy fut...,176670.0,NaN,69275.0,YEARLY,Full-time,United States,NaN,2023-07-28 17:33:20,1.0,90.0,https://www.linkedin.com/jobs/view/3701372694/...,https://jobs.engie.com/job/Remote-Preconstruct...,OffsiteApply,2023-09-21 19:46:40,2023-07-22 00:26:40,Entry level,NaN,2023-08-22 17:33:20,jobs.engie.com,0,FULL_TIME,USD,BASE_SALARY,1
23070,3699057855,35486746.0,Landscape Manager at Refined Gardens,This position is posted on behalf of People So...,80000.0,NaN,50000.0,YEARLY,Full-time,"Tempe, AZ",NaN,2023-08-23 18:33:20,NaN,2.0,https://www.linkedin.com/jobs/view/3699057855/...,https://peoplesolutionscenter.com/company-over...,OffsiteApply,2023-09-22 18:00:00,NaN,Mid-Senior level,NaN,2023-08-23 18:33:20,NaN,0,FULL_TIME,USD,BASE_SALARY,1
27172,3694102349,NaN,Engineering Project Manager,Principal Product Development Project Manageme...,NaN,NaN,NaN,NaN,Contract,"San Diego, CA",6.0,2023-08-23 18:33:20,NaN,18.0,https://www.linkedin.com/jobs/view/3694102349/...,NaN,ComplexOnsiteApply,2023-09-22 18:00:00,NaN,Mid-Senior level,NaN,2023-08-23 18:33:20,NaN,0,CONTRACT,NaN,NaN,1
7702,3757438251,47260.0,Senior Accounts Manager,Job Description\n\nDo people describe you as d...,NaN,NaN,NaN,NaN,Full-time,"Washington, DC",NaN,2023-11-02 20:06:40,NaN,2.0,https://www.linkedin.com/jobs/view/3757438251/...,https://ekcf.fa.us6.oraclecloud.com/hcmUI/Cand...,OffsiteApply,2023-12-03 14:00:00,NaN,NaN,NaN,2023-11-03 15:33:20,ekcf.fa.us6.oraclecloud.com,0,FULL_TIME,NaN,NaN,1699042456
9727,3756114323,34218836.0,"Locum Surgery Physician job in Boston, MA - Ma...",Aya Locums has an immediate opening for a 13-w...,NaN,95.0,NaN,HOURLY,Full-time,"Boston, MA",NaN,2023-11-03 18:20:00,NaN,1.0,https://www.linkedin.com/jobs/view/3756114323/...,https://www.ayalocums.com/job/locum-physician-...,OffsiteApply,2023-12-03 19:33:20,NaN,Mid-Senior level,NaN,2023-11-03 18:20:00,www.ayalocums.com,0,FULL_TIME,USD,BASE_SALARY,1699132905
14779,3749369142,11227630.0,Occupational Therapy Assistant,"Work With Purpose\n\nAt Ageility, we bring the...",NaN,NaN,NaN,NaN,Part-time,"Scottsdale, AZ",NaN,2023-11-03 18:20:00,NaN,NaN,https://www.linkedin.com/jobs/view/3749369142/...,https://careers.ageility.com/job-detail/occupa...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,2023-11-03 18:20:00,careers.ageility.com,1,PART_TIME,NaN,NaN,1699082749
31270,3693050179,6453451.0,Project Architect/Coordinator,JOB RESPONSIBILITIES:Work under the direction ...,NaN,NaN,NaN,NaN,Full-time,Dallas-Fort Worth Metroplex,14.0,2023-08-22 14:46:40,NaN,97.0,https://www.linkedin.com/jobs/view/3693050179/...,NaN,ComplexOnsiteApply,2023-09-21 14:13:20,NaN,Mid-Senior level,NaN,2023-08-22 14:46:40,NaN,0,FULL_TIME,NaN,NaN,1
3196,3757714983,16219115.0,Security Officer,Overview: To be responsible for ensuring the s...,NaN,22.0,NaN,HOURLY,Full-time,"Montecito, CA",NaN,2023-11-03 18:20:00,NaN,1.0,https://www.linkedin.com/jobs/view/3757714983/...,https://careers.rosewoodhotelgroup.com/rosewoo...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,2023-11-03 18:20:00,careers.rosewoodhotelgroup.com,0,FULL_TIME,USD,BASE_SALARY,1699052431
29541,3693068724,18941384.0,Vice President of Sales,"Position Overview \nAt Fellow, we are on a mis...",230000.0,NaN,215000.0,YEARLY,Full-time,San Francisco Bay Area,65.0,2023-08-22 20:20:00,NaN,306.0,https://www.linkedin.com/jobs/view/3693068724/...,NaN,ComplexOnsiteApply,2023-09-21 19:46:40,NaN,Executive,NaN,2023-08-22 20:20:00,NaN,1,FULL_TIME,USD,BASE_SALARY,1
26902,3694105233,3143455.0,"Senior Manager, Credit Strategy and Analytics",About CarvanaIf you like disrupting the norm a...,NaN,NaN,NaN,NaN,Full-time,"Tempe, AZ",6.0,2023-08-23 21:20:00,NaN,49.0,https://www.linkedin.com/jobs/view/3694105233/...,https://www.carvana.com/careers/apply?gh_jid=5...,OffsiteApply,2023-09-22 20:46:40,NaN,Mid-Senior level,NaN,2023-08-23 21:20:00,NaN,0,FULL_TIME,NaN,NaN,1
12764,3755577753,66252.0,"Research Associate - II, Pathobiology","Title: Research Associate II, PathobiologyLoca...",43.0,NaN,37.0,HOURLY,Contract,"Foster City, CA",9.0,2023-11-03 15:33:20,NaN,44.0,https://www.linkedin.com/jobs/view/3755577753/...,NaN,ComplexOnsiteApply,2023-12-03 14:00:00,NaN,Associate,NaN,2023-11-03 15:33:20,NaN,0,CONTRACT,USD,BASE_SALARY,1699139453
2392,3757733192,808034.0,Travel - PCU - Nurse Job - $2432/wk - $2621/wk,Aya Healthcare has an immediate opening for th...,NaN,NaN,NaN,NaN,Part-time,"Sun City, AZ",NaN,2023-11-03 18:20:00,NaN,NaN,https://www.linkedin.com/jobs/view/3757733192/...,https://www.ayahealthcare.com/travel-nursing-j...,OffsiteApply,2023-12-03 19:33:20,NaN,Mid-Senior level,NaN,2023-11-03 18:20:00,www.ayahealthcare.com,0,PART_TIME,NaN,NaN,1699058312
17218,3748834907,1009.0,Software Developer,664392BR\n\nIntroduction\n\nAs a Software Deve...,192000.0,NaN,102000.0,YEARLY,Full-time,"Austin, TX",NaN,2023-11-01 19:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3748834907/...,https://IBM.contacthr.com/129976008?Codes=SN_L...,OffsiteApply,2023-12-02 18:33:20,NaN,NaN,NaN,2023-11-02 17:20:00,IBM.contacthr.com,0,FULL_TIME,USD,BASE_SALARY,1698964111
362,3757914435,6062532.0,Physician - Pulmonologist,Description\n\nPosition Summary:\n\nCHRISTUS S...,NaN,NaN,NaN,NaN,Full-time,"Alexandria, LA",NaN,2023-11-03 21:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3757914435/...,https://careers.christushealth.org/job-details...,OffsiteApply,2023-12-04 01:06:40,NaN,NaN,NaN,2023-11-03 23:53:20,careers.christushealth.org,0,FULL_TIME,NaN,NaN,1699139003
13542,3754943713,5343773.0,Senior Interior Designer,\n APPARATUS is a New York-based design studio...,NaN,NaN,NaN,NaN,Full-time,"New York, NY",27.0,2023-10-31 18:06:40,NaN,285.0,https://www.linkedin.com/jobs/view/3754943713/...,https://boards.greenhouse.io/apparatus/jobs/49...,OffsiteApply,2024-04-28 17:33:20,NaN,NaN,NaN,2023-10-31 18:06:40,NaN,1,FULL_TIME,NaN,NaN,1699087314
18543,3701320229,260775.0,STREETS OPERATOR III - TRAFFIC & SIGNAGE,\n\nJOB SUMMARY: The Streets Operator III – Tr...,NaN,10000.0,NaN,YEARLY,Full-time,"Park City, UT",NaN,2023-08-22 17:33:20,NaN,4.0,https://www.linkedin.com/jobs/view/3701320229/...,https://www.click2apply.net/XRybpOIV41xbEclrXT...,OffsiteApply,2023-09-21 17:00:00,NaN,NaN,NaN,2023-08-22 17:33:20,www.click2apply.net,0,FULL_TIME,USD,BASE_SALARY,1
21562,3699405889,6104.0,Faculty Group Practice Secretary I Intake/Sche...,1110989_RR00076289 Job ID: 1110989_RR00076289\...,NaN,48308.0,NaN,YEARLY,Full-time,"Huntington, NY",NaN,2023-07-30 00:06:40,NaN,1.0,https://www.linkedin.com/jobs/view/3699405889/...,https://nyu.contacthr.com/125815980,OffsiteApply,2023-09-22 23:33:20,NaN,NaN,NaN,2023-08-24 00:06:40,nyu.contacthr.com,0,FULL_TIME,USD,BASE_SALARY,1
4301,3757492529,16690.0,Automation Engineer-Node.js and TestCafe- ONLY w2,Top skills:Test automation using Node.js and T...,NaN,NaN,NaN,NaN,Contract,United States,9.0,2023-11-03 18:20:00,1.0,37.0,https://www.linkedin.com/jobs/view/3757492529/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,2023-11-03 18:20:00,NaN,1,CONTRACT,NaN,NaN,1699053770
25409,3697354571,585138.0,Audio Visual Tech - Part Time,Description\nKalahari Resorts and Conventions ...,NaN,NaN,NaN,NaN,Part-time,"Round Rock, TX",5.0,2023-08-22 14:46:40,NaN,17.0,https://www.linkedin.com/jobs/view/3697354571/...,https://recruiting.adp.com/srccar/public/nghom...,OffsiteApply,2023-09-21 17:00:00,NaN,Entry level,NaN,2023-08-22 17:33:20,recruiting.adp.com,0,PART_TIME,NaN,NaN,1
8205,3756924297,166127.0,Cashier - Driving,"Overview\n\nSP+ is driven by Our Promise, “Mak...",NaN,18.0,NaN,HOURLY,Full-time,"Portland, OR",NaN,2023-11-02 20:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3756924297/...,https://externalsp-spplus.icims.com/jobs/39947...,OffsiteApply,2023-12-02 18:33:20,NaN,Entry level,NaN,2023-11-02 20:06:40,externalsp-spplus.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699039889
13310,3755551904,14542824.0,Radiologic Technologists,Job Name: CO-1750-Rad Tech for OR Cases\n\nFac...,NaN,62.0,NaN,HOURLY,Full-time,"Pueblo, CO",NaN,2023-10-10 13:46:40,NaN,NaN,https://www.linkedin.com/jobs/view/3755551904/...,NaN,SimpleOnsiteApply,2023-12-03 14:00:00,NaN,Mid-Senior level,NaN,2023-11-03 15:33:20,www.trioptushealth.com,0,FULL_TIME,USD,BASE_SALARY,1699037530
1846,3757739114,79383535.0,Legal Services - Project Specialist,Join our team at Akkodis as a Legal Services P...,NaN,30.0,NaN,HOURLY,Contract,"Phoenix, AZ",3.0,2023-11-03 18:20:00,NaN,34.0,https://www.linkedin.com/jobs/view/3757739114/...,NaN,ComplexOnsiteApply,2023-12-03 16:46:40,NaN,Associate,NaN,2023-11-03 18:20:00,NaN,1,CONTRACT,USD,BASE_SALARY,1699064759
2750,3757728749,3292101.0,Technical Supervisor - General Lab (Evening Sh...,"Primary City/State\n\nPhoenix, Arizona\n\nDepa...",NaN,NaN,NaN,NaN,Full-time,"Phoenix, AZ",NaN,2023-11-03 18:20:00,NaN,1.0,https://www.linkedin.com/jobs/view/3757728749/...,https://bannerhealth.wd5.myworkdayjobs.com/en-...,OffsiteApply,2023-12-03 16:46:40,NaN,Mid-Senior level,NaN,2023-11-03 18:20:00,bannerhealth.wd5.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699086574
3999,3757495152,4066.0,Travel Turbine - Generation Tech I,More than a career - a chance to make a differ...,NaN,NaN,NaN,NaN,Full-time,"Charlotte, NC",1.0,2023-11-03 18:20:00,NaN,5.0,https://www.linkedin.com/jobs/view/3757495152/...,https://dukeenergy.wd1.myworkdayjobs.com/Searc...,OffsiteApply,2023-12-03 16:46:40,NaN,Entry level,NaN,2023-11-03 18:20:00,dukeenergy.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699061719
18756,3701317756,3570660.0,Sales Director {Owner/Operator},The Entrepreneur we seek is an experienced sal...,NaN,NaN,NaN,NaN,Full-time,"Wichita, KS",1.0,2023-08-22 17:33:20,NaN,12.0,https://www.linkedin.com/jobs/view/3701317756/...,NaN,ComplexOnsiteApply,2023-09-21 17:00:00,NaN,Director,NaN,2023-08-22 17:33:20,NaN,1,FULL_TIME,NaN,NaN,1
23650,3697394369,3240.0,Customer Service Representative-Farmers Direct...,We are Farmers!\nWe are… more than just your f...,19.5,NaN,16.7,HOURLY,Full-time,"St Charles, MO",NaN,2023-08-21 19:20:00,1.0,2.0,https://www.linkedin.com/jobs/view/3697394369/...,https://jobs.farmersinsurance.com/job/Customer...,OffsiteApply,2023-09-21 19:46:40,NaN,NaN,NaN,2023-08-22 20:20:00,jobs.farmersinsurance.com,0,FULL_TIME,USD,BASE_SALARY,1
26589,3694111956,40687781.0,Entry Level Phlebotomist - Paid Training,"By clicking the ""Apply"" button, I understand t...",NaN,NaN,NaN,NaN,Part-time,"West Des Moines, IA",NaN,2023-08-24 00:06:40,NaN,NaN,https://www.linkedin.com/jobs/view/3694111956/...,https://ad.doubleclick.net/ddm/clk/486949479;2...,OffsiteApply,2023-09-22 23:33:20,NaN,Entry level,NaN,2023-08-24 00:06:40,jobs.biolifeplasma.com,1,PART_TIME,NaN,NaN,1

From the sample table above, we can see that all time variables have been converted into standard datetime format. In the standard notation, we can observe the following:
- `original_listed_time` and `listed_time` are displaying similar information, further investigation is needed to remove any data redundancy.
- `closed_time` variable contains a lot of null values and the non-null values seem to be inconsistent as some timestamps occur prior to `original_listed_time` timestamps (closed_time: 2023-07-22, 00:26:40 vs original_listed_time: 2023-08-22, 17:33:20). We will conduct further analysis to determine whether to keep `closed_time` column or not.

In [38]:
# Find rows with duplicate combinations of 'original_time_listed' and 'listed_time'
duplicate_rows = df[df.duplicated(subset=['original_listed_time', 'listed_time'], keep=False)]

# Group by the combination of 'original_time_listed' and 'listed_time' and count the occurrences
duplicate_counts = duplicate_rows.groupby(['original_listed_time', 'listed_time']).size().reset_index(name='count')

# Sum the counts to get the total duplicate count
total_duplicate_count = duplicate_counts['count'].sum()

print("Total duplicate count:", total_duplicate_count)

Total duplicate count: 32861

Since there are total 32861 duplicated rows (out of 33246 rows) between `original_listed_time` and `listed_time`, it would be quite redundant to keep both columns. We are mostly interested in when the job was originally listed and there's no need for additional timestamps, we will keep just one column. Hence, we will drop `listed_time` variable as `original_listed_time` contains enough information for our analysis.

In [41]:
df['closed_time'].isna().sum()/df.shape[0]*100

96.47476388136919

Since the `closed_time` column is missing approximately 96 percent of the data, it will be difficult to draw any meaningful insights. The `expiry` column shows timestamps of when the job postings will expire compared to `closed_time` column where it displays timestamps of when the job postings were actually closed. For our analysis, `expiry` data is sufficient enough to showcase the relationship between number of views and the duration of the job posting. Therefore, we will drop the `closed_time` variable to avoid data inconsistency and redundancy.

#### Dealing with Unnecessary Columns

From the datatype table and time analysis, we can remove `job_posting_url`, `application_url`, `closed_time`, `listed_time`, and `scraped` as these variables are irrelevant to the problem area, thus unnecessary to keep them in the dataset. We will drop them here:

In [42]:
# Drop irrelevant columns 
df_clean = df.drop(['job_posting_url', 'application_url', 'closed_time', 'listed_time', 'scraped'], axis=1)

# Sanity Check
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  24065 non-null  object
 17  skills_desc                 337 non-null    object
 18  posting_domain              19688 non-null  object
 19  sponsored                   33246 non-null  int64
 20  work_type                   33246 non-null  object
 21  currency                    13352 non-null  object
 22  compensation_type           13352 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(2), object(12)
memory usage: 5.8+ MB

The three variables mentioned above have been successfully dropped, we will now look at the "formatted_work_type" vs "work_type".

#### "formatted_work_type" vs "work_type"

In [43]:
df_clean['formatted_work_type'].value_counts()

formatted_work_type
Full-time     26900
Contract       3459
Part-time      2244
Temporary       260
Internship      228
Other           110
Volunteer        45
Name: count, dtype: int64

In [44]:
df_clean['work_type'].value_counts()

work_type
FULL_TIME     26900
CONTRACT       3459
PART_TIME      2244
TEMPORARY       260
INTERNSHIP      228
OTHER           110
VOLUNTEER        45
Name: count, dtype: int64

Since the two 'work type' columns have identical data entries, we can confirm that the two columns are redundant. Hence, we will drop 'work_type' column as the 'formatted_work_type' column is the refined version of 'work_type' column with proper headings (only the first letter is capitalized instead of every letter being  capitalized).

In [45]:
df_clean.drop(columns=['work_type'], inplace=True)

# Sanity Check
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  24065 non-null  object
 17  skills_desc                 337 non-null    object
 18  posting_domain              19688 non-null  object
 19  sponsored                   33246 non-null  int64
 20  currency                    13352 non-null  object
 21  compensation_type           13352 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(2), object(11)
memory usage: 5.6+ MB

Lastly, let's take a look at the two categorical variables, `Currency` and `Compensation_Type`.

#### Currency

In [46]:
df_clean['currency'].value_counts()

currency
USD    13352
Name: count, dtype: int64

In [47]:
df_clean['currency'].unique()

array(['USD', nan], dtype=object)

Since the `currency` only has one type of data entry, "USD", we will drop this column.

In [48]:
df_clean.drop(columns=['currency'], inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  24065 non-null  object
 17  skills_desc                 337 non-null    object
 18  posting_domain              19688 non-null  object
 19  sponsored                   33246 non-null  int64
 20  compensation_type           13352 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(2), object(10)
memory usage: 5.3+ MB

The column `currency` has been successfully dropped, now we will take a look at the column `compensation_type`.

#### Compensation Type

In [49]:
df_clean['compensation_type'].value_counts()

compensation_type
BASE_SALARY    13352
Name: count, dtype: int64

In [50]:
df_clean['compensation_type'].unique()

array(['BASE_SALARY', nan], dtype=object)

Similar to `currency`, the `compensation_type` variable contains "BASE_SALARY" as the only response, thus we will drop this column.

In [51]:
df_clean.drop(columns=['compensation_type'], inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  24065 non-null  object
 17  skills_desc                 337 non-null    object
 18  posting_domain              19688 non-null  object
 19  sponsored                   33246 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(2), object(9)
memory usage: 5.1+ MB

The `compensation_type` column has been removed from the dataset. From the new datatype table, we can see that all the unnecessary columns have been dropped. Following the data loading process, we will enter the data cleaning phase using the refined dataset.

## Data Cleaning

In this section, we will be conducting various data cleaning methods, such as checking datatypes, finding any duplicates, and removing null values to prepare a clean dataset for future analysis.

### DataType

Now let's check the updated number of rows and columns in the dataset

In [52]:
print(f"We have {df_clean.shape[0]} rows and {df_clean.shape[1]} columns with  string (categorical), floats and integers.")

We have 33246 rows and 20 columns with  string (categorical), floats and integers.

Revisit the datatypes using the updated dataset after dropping variables.

In [53]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  24065 non-null  object
 17  skills_desc                 337 non-null    object
 18  posting_domain              19688 non-null  object
 19  sponsored                   33246 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(2), object(9)
memory usage: 5.1+ MB

After dropping irrelevant columns, the dataset now has 20 columns, 2 datetime variables, 9 numerical variables and 9 categorical variables. We will continue data processing and conduct various data cleaning methods to prepare a clean dataset for preliminary EDA.

We will delve deeper into the dataset by observing each of the categorical and numerical variables in the data cleaning section where we deal with nulls.

Now let's check for any duplicates in the dataset.

### Duplicates

In [54]:
df_clean.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
33241    False
33242    False
33243    False
33244    False
33245    False
Length: 33246, dtype: bool

In [55]:
df_clean.duplicated().sum()

0

No duplicated rows, now let's check duplicated columns

In [56]:
df_clean.T.duplicated()

job_id                        False
company_id                    False
title                         False
description                   False
max_salary                    False
med_salary                    False
min_salary                    False
pay_period                    False
formatted_work_type           False
location                      False
applies                       False
original_listed_time          False
remote_allowed                False
views                         False
application_type              False
expiry                        False
formatted_experience_level    False
skills_desc                   False
posting_domain                False
sponsored                     False
dtype: bool

In [57]:
df_clean.T.duplicated().sum()

0

Since there are no duplicate columns, we can proceed to the final stage of data cleaning, dealing with null values.

### Missing Data

Let's first take a look at the missing values present in each column

In [58]:
df_clean.isna().sum()

job_id                            0
company_id                      654
title                             0
description                       1
max_salary                    22135
med_salary                    31005
min_salary                    22135
pay_period                    19894
formatted_work_type               0
location                          0
applies                       17008
original_listed_time              0
remote_allowed                28444
views                          7360
application_type                  0
expiry                            0
formatted_experience_level     9181
skills_desc                   32909
posting_domain                13558
sponsored                         0
dtype: int64

In [59]:
df_clean.isna().sum()/df.shape[0]*100

job_id                         0.000000
company_id                     1.967154
title                          0.000000
description                    0.003008
max_salary                    66.579438
med_salary                    93.259339
min_salary                    66.579438
pay_period                    59.838778
formatted_work_type            0.000000
location                       0.000000
applies                       51.158034
original_listed_time           0.000000
remote_allowed                85.556157
views                         22.138002
application_type               0.000000
expiry                         0.000000
formatted_experience_level    27.615352
skills_desc                   98.986344
posting_domain                40.780846
sponsored                      0.000000
dtype: float64

We can observe that there are several missing values across different columns within the dataset. Let's separate them by their respective datatypes and try to deal with them one by one. This process could involve filling in the null values or entirely dropping the columns if needed.

### Categorical Variables

#### Description

In [60]:
df_clean['description'].isna().sum()

1

Since the `description` column is only missing one value, we will fill this missing information using "Not Specified".

In [61]:
df_clean['description'] = df_clean['description'].fillna("Not Specified")
df_clean['description'].isna().sum()

0

#### Pay Period

In [62]:
df_clean['pay_period'].value_counts()

pay_period
YEARLY     8009
HOURLY     5036
MONTHLY     224
WEEKLY       82
ONCE          1
Name: count, dtype: int64

In [63]:
df_clean['pay_period'].isna().sum()/df_clean.shape[0]*100

59.83877759730494

We will fill the missing values with "Not Specified" as `pay_period` is a categorical variable.

In [64]:
df_clean['pay_period'] = df_clean['pay_period'].fillna("Not Specified")
df_clean['pay_period'].isna().sum()

0

#### Experience Level

In [65]:
df_clean['formatted_experience_level'].value_counts()

formatted_experience_level
Mid-Senior level    11258
Entry level          7969
Associate            2793
Director             1354
Internship            387
Executive             304
Name: count, dtype: int64

In [66]:
df_clean['formatted_experience_level'].isna().sum()/df_clean.shape[0]*100

27.615352222823798

Similarly, we will fill in the missing values from `formatted_experience_level` using "Not Specified" as it is a categorical variable.

In [67]:
df_clean['formatted_experience_level'] = df_clean['formatted_experience_level'].fillna("Not Specified")
df_clean['formatted_experience_level'].isna().sum()

0

#### Skills Description

In [68]:
df_clean['skills_desc'].isna().sum()

32909

In [69]:
df_clean['skills_desc'].isna().sum()/df_clean.shape[0]*100

98.98634422186127

Since it's missing roughly 99 percent of the values, we will create a binary column of '0' and '1' to depict whether the job posting provides the required skills description or not. Hence, the '0' will represent the missing values where the company has not provided the skills information within the job posting, and '1' will represent the job postings that have listed the skills description within the job posting. Then, we will drop the `skills_desc` column.

In [70]:
df_clean['skills_present'] = df_clean['skills_desc'].notnull().astype(int)

In [71]:
df_clean.drop(columns=['skills_desc'], inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33246 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  33246 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  33246 non-null  object
 17  posting_domain              19688 non-null  object
 18  sponsored                   33246 non-null  int64
 19  skills_present              33246 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(3), object(8)
memory usage: 5.1+ MB

#### Posting Domain

In [72]:
df_clean['posting_domain'].value_counts()

posting_domain
www.click2apply.net                    533
jobs.smartrecruiters.com               466
click.appcast.io                       447
boards.greenhouse.io                   385
recruiting.ultipro.com                 351
                                      ...
santegroup.clearcompany.com              1
sforce.co                                1
libertyglobal.wd3.myworkdayjobs.com      1
matthey.wd3.myworkdayjobs.com            1
jobs.armstrongceilings.com               1
Name: count, Length: 2576, dtype: int64

In [73]:
df_clean['posting_domain'].isna().sum()/df_clean.shape[0]*100

40.78084581603802

LinkedIn has two options for applying, first method is to apply through LinkedIn directly using their "Easy Apply" feature, and the second method is to apply through company's website as LinkedIn redirects the applicant to a specific company's web domain through "Apply" button. Therefore, we will assume that the reported missing values from `posting_domain` column represent the applications submitted through "Easy Apply" feature on LinkedIn.

Now let's organize this into a binary column where '0' represents the missing values or the direct apply through LinkedIn and '1' represents the applications through a specific company's website (having specific web domain).

In [74]:
df_clean['application_method'] = df_clean['posting_domain'].notnull().astype(int)

In [75]:
df_clean.drop(columns=['posting_domain'], inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33246 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  33246 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  datetime64[ns]
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  application_type            33246 non-null  object
 15  expiry                      33246 non-null  datetime64[ns]
 16  formatted_experience_level  33246 non-null  object
 17  sponsored                   33246 non-null  int64
 18  skills_present              33246 non-null  int64
 19  application_method          33246 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(4), object(7)
memory usage: 5.1+ MB

In [76]:
# Sanity Check
df_clean.isna().sum()

job_id                            0
company_id                      654
title                             0
description                       0
max_salary                    22135
med_salary                    31005
min_salary                    22135
pay_period                        0
formatted_work_type               0
location                          0
applies                       17008
original_listed_time              0
remote_allowed                28444
views                          7360
application_type                  0
expiry                            0
formatted_experience_level        0
sponsored                         0
skills_present                    0
application_method                0
dtype: int64

We have completed the data cleaning process for categorical variables by filling in the null values. Now we will take a look at numerical variables and deal with missing values.

### Numerical Variables

#### Company ID

In [ ]:
df_clean['company_id'].isna().sum()

In [ ]:
df_clean['company_id'].isna().sum()/df_clean.shape[0]*100

Let's check for the unique values within the `company_id` column.

In [ ]:
df_clean['company_id'].unique()

#### Max Salary

In [ ]:
df_clean['max_salary'].describe()

In [ ]:
df_clean['max_salary'].isna().sum()/df_clean.shape[0]*100

Let's create a visualization to observe the distribution of `max_salary` column.

In [ ]:
plt.figure()

plt.hist(df_clean['max_salary'], bins=40)
plt.axvline(df_clean['max_salary'].mean(), color="lightcoral", label="mean")
plt.axvline(df_clean['max_salary'].median(), color="lightcoral", linestyle="--", label="median")

plt.title("Distribution of max_salary - before imputation".title())
plt.xlabel("Max Salary Bins")
plt.ylabel("Counts")


plt.legend()
plt.show()

The histogram show that the `max_salary` data is right skewed, which signals that there are some outliers skewing the data. The presence of outliers distorts the mean value, thus we will use median value to fill the missing values.

In [ ]:
df_clean['max_salary'] = df_clean['max_salary'].fillna(df_clean['max_salary'].median())
df_clean['max_salary'].isna().sum()

#### Min Salary

In [ ]:
df_clean['min_salary'].describe()

In [ ]:
df_clean['min_salary'].isna().sum()/df_clean.shape[0]*100

Let's create a visualization to observe the distribution of `min_salary` column.

In [ ]:
plt.figure()

plt.hist(df_clean['min_salary'], bins=40)
plt.axvline(df_clean['min_salary'].mean(), color="lightcoral", label="mean")
plt.axvline(df_clean['min_salary'].median(), color="lightcoral", linestyle="--", label="median")

plt.title("Distribution of min_salary - before imputation".title())
plt.xlabel("Min Salary Bins")
plt.ylabel("Counts")


plt.legend()
plt.show()

The histogram show that the `min_salary` data is right skewed, which signals that there are some outliers skewing the data. The presence of outliers distorts the mean value, thus we will use median value to fill the missing values.

In [ ]:
df_clean['min_salary'] = df_clean['min_salary'].fillna(df_clean['min_salary'].median())
df_clean['min_salary'].isna().sum()

#### Median Salary

In [ ]:
df_clean['med_salary'].isna().sum()/df.shape[0]*100

In [ ]:
df_clean['med_salary'].describe()

Unlike `min_salary` and `max_salary`, `med_salary` is missing 93 percent of the dataset, thus it is harder to impute the null values. Here we will focus on whether the company has provided the median salary information in the job posting or not by creating a binary column. The entries of '0' indicates that companies have not disclosed the median salary information and the entries of '1' suggests that the companies have included the median salary information within the dataset. Then, we will drop the `med_salary` column.

In [ ]:
df_clean['med_salary_present'] = df_clean['med_salary'].notnull().astype(int)

In [ ]:
df_clean.drop(columns=['med_salary'], inplace=True)
df_clean.info()

#### Applies

In [ ]:
df_clean['applies'].isna().sum()

In [ ]:
df_clean['applies'].isna().sum()/df_clean.shape[0]

In [ ]:
df_clean['applies'].describe()

Let's create a visualization to observe the distribution of `applies` column.

In [ ]:
plt.figure()

plt.hist(df_clean['applies'], bins=40)
plt.axvline(df_clean['applies'].mean(), color="lightcoral", label="mean")
plt.axvline(df_clean['applies'].median(), color="lightcoral", linestyle="--", label="median")

plt.title("Distribution of applies - before imputation".title())
plt.xlabel("Applies Bins")
plt.ylabel("Counts")


plt.legend()
plt.show()

The histogram show that the `applies` data is heavily right skewed, which signals that there are some outliers skewing the data. The presence of outliers distorts the mean value, thus we will use median value to fill the missing values.

In [ ]:
df_clean['applies'] = df_clean['applies'].fillna(df_clean['applies'].median())

In [ ]:
df_clean['applies'].isna().sum()

#### Views

In [ ]:
df_clean['views'].isna().sum()

In [ ]:
df_clean['views'].isna().sum()/df_clean.shape[0]*100

In [ ]:
df_clean['views'].describe()

In [ ]:
# Calculate the median
median = df_clean['views'].median()

# Quartiles (Q1 and Q3)
q1 = df_clean['views'].quantile(0.25)
q3 = df_clean['views'].quantile(0.998)

# Interquartile range (IQR)
iqr = q3 - q1

# Determining the outliers
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Box Plot
plt.figure(figsize=(8, 6))
plt.boxplot(df_clean['views'], vert=False)
plt.title('Number of Views Box Plot')
plt.xlabel('Views')

# Marking the outliers
# Identifying outliers based on Views using lower and upper bounds
outliers = df_clean[(df_clean['views'] < lower_bound) | (df_clean['views'] > upper_bound)]['views']
# Plotting outliers on a horizontal line at y=1
plt.plot(outliers, [1] * len(outliers), 'ro', label='Outliers')

plt.legend()

plt.show()

In [ ]:
df_clean[df_clean['views'] < df_clean['views'].quantile(0.995)]

In [ ]:
df_clean.shape

Let's create a visualization to observe the distribution of `views` column.

In [ ]:
plt.figure()

plt.hist(df_clean['views'], bins=40)
plt.axvline(df_clean['views'].mean(), color="lightcoral", label="mean")
plt.axvline(df_clean['views'].median(), color="lightcoral", linestyle="--", label="median")

plt.title("Distribution of views - before imputation".title())
plt.xlabel("Views Bins")
plt.ylabel("Counts")


plt.legend()
plt.show()

The histogram show that the `views` data is heavily right skewed, which signals that there are some outliers skewing the data. The presence of outliers distorts the mean value, thus we will use median value to fill the missing values.

In [ ]:
df_clean['views'] = df_clean['views'].fillna(df_clean['views'].median())

In [ ]:
df_clean['views'].isna().sum()

#### Remote Allowed

In [ ]:
df_clean['remote_allowed'].describe()

In [ ]:
df_clean['remote_allowed'].value_counts()

The dataset only contains the response of '1'. This could be due to the method of data collection. For instance, if the survey only had one tick-off box to check off whether the remote-working is allowed or not, then it would make sense why the data only contains '1' (check mark) as its only response.

In [ ]:
df_clean['remote_allowed'].isna().sum()/df_clean.shape[0]*100

To fill in the null values, we will convert this variable into a binary column (0 and 1). Here, we are making an assumption that '0' will represent the missing values (remote-working not allowed), and '1' will be remote working allowed responses. We can simply fill the missing values in with 0s to achieve this.

In [ ]:
df_clean['remote_allowed'] = df_clean['remote_allowed'].fillna(0)
df_clean['remote_allowed'].isna().sum()

#### Closed Time

In [ ]:
df_clean['closed_time'].describe()

In [ ]:
df_clean['closed_time'].isna().sum()/df_clean.shape[0]*100

Since it's missing majority of the values (96.5%), we will focus on whether the companies have included the closed time information or not in their job postings and observe if the presence of `closed_time` variable is relevant in terms of number of views. To achieve this, we will create a binary column with '0' and '1' where '0' represents no closed time information and '1' represents the indication of closed time information within the dataset.

In [ ]:
df_clean['closed_time_present'] = df_clean['closed_time'].notnull().astype(int)

In [ ]:
df_clean.drop(columns=['closed_time'], inplace=True)
df_clean.info()

In [ ]:
df_clean.isna().sum()

We have completed all the data cleaning processes by filling in the null values. Now we will plot some graphs to analyze any patterns that may occur to address our question of interest: "Is there any relationships between the `views` column with other variables within the `job_postings` dataset?"

## EDA

We will begin by creating some visualizations to depict any potential relationships between the `views` column and other variables. Our goal is to see if there are any patterns within the visualizations to analyze the job trends regarding the `views`.

### Work Type

Let's take a look at the distribution of the `formatted_work_type` column.

In [ ]:
df_clean['formatted_work_type'].value_counts(normalize=True).plot(kind="barh")
plt.show()

The "Full-time" work type was the most common, followed by "Contract" and "Part-time". Hence, within the LinkedIn space, most companies are looking to hire full-time positions rather than part-time or contract. Will the preference of full-time positions by recruiters have affects on the number of job posting views?

### Experience Level

Let's create a bar chart to check the distribution of `formatted_experience_level` variable.

In [ ]:
df_clean['formatted_experience_level'].value_counts(normalize=True).plot(kind="barh")
plt.show()

The "Mid-Senior level" was the most common experience level that the companies were looking for, followed by "Not Specified", "Entry level", "Associate", "Director", "Internship" and "Executive". Through modeling, we will see if the experience level has any relationship with the number of views, which can help us to identify the preference of applicants.

### Sponsored

In [ ]:
df_clean['sponsored'].value_counts(normalize=True).plot(kind="bar")
plt.show()

According to the visualization above, there were a lot more job postings that weren't sponsored or promoted than ones that were sponsored or promoted. In the later analysis, we will look for a potential relationship between sponsorship and number of views to test whether the `sponsor` column has an influence on the number of views.

### Skills Description

In [ ]:
df_clean['skills_present'].value_counts(normalize=True).plot(kind="bar")
plt.show()

Majority of the job postings were missing skills description. Hence, we will look for a potential relationship between the number of views and the presence of skills description within the job posting.

### Median Salary

In [ ]:
df_clean['med_salary_present'].value_counts(normalize=True).plot(kind="bar")
plt.show()

Majority of the companies did not disclose the median salary information. This is normal, and we will look into the potential relationship between number of views and the presence of median salary data within the job posting.

### Views and Applies

In [ ]:
x = df_clean['views']
y = df_clean['applies']

plt.scatter(x, y)
plt.xlabel("Number of Views") 
plt.ylabel("Number of Applications") 
plt.title("Relationship between Views and Applies") 
plt.show()

The scatter plot between `views` and `applies` depicts a positive correlation between the two variables. In other words, as the number of views increase, the number of applications submitted also rises. The more views the job posting get, the more likely to receive applications.

## Summary

In this notebook, we performed an analysis of a job posting dataset from LinkedIn, focusing on the `views` variable. The preliminary analysis included data loading, data cleaning, and basic EDA with visualization. Through experimentation, we were able to see the impacts of various job posting features, such as the experience level, number of applications submitted, median salary and more. The basic EDA analysis culminated in visualizations and insights aimed at understanding the job market trends, with an emphasis on number of views.